@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/seemore.css";
@import "../../../styles/sendo/items/empty.css";

.productComment {
  padding-bottom: $space-large;
  background-color: $bgd-block;
}
.comments {
  margin-bottom: $space-medium;
  :global .commentGroup:last-child {
    border-bottom: none;
  }
}
.ratingReport {
  border-bottom: $border;
}
.inputComment {
  position: absolute; z-index: $zindex-fixed;
  bottom: 0; left: 0;
  width: 100%;
  padding: $space-medium;
  background-color: $bgd-block;
  transform: translate3d(0,0,0);
}

:global(.iphone-x) .inputComment {
  height: 7.6rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;

}