@import "../../../styles/variables.css";

.icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: $space-medium;
  margin-right: $space-medium;
}
.iconLarge {
  width: 5.6rem;
  margin-left: $space-medium;
  margin-right: $space-medium;
}
.coin {
  fill: $yellow;
}
.revert {
  fill: $orange;
}
.delivery {
  fill: $green;
}
.install {
  fill: $blue;
}
.video {
  fill: $red;
}