@import "../../styles/variables.css";

.stickyHeader {
  position: static; z-index: $zindex-fixed;
  top: 0; left: 0;
  width: 100%; 
  transition: transform .2s ease-out;
  will-change: transform;
  &.hide {
    transform: translateY(-100%);
  }
  &.fixed {
    position: fixed;
  }
}
