@import "../../../styles/variables.css";

.productShippingModal {
  composes: modal-scroll-container from global;
}
.customSelect {
  position: relative;
  height: 3.5rem;
  select {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 99%;
    cursor: pointer;
  }
}
.customSelectLabel {
  composes: text-overflow from global;
  display: inline-block;
  min-width: 11.5rem;
  padding: $space-medium $space-large;
  border-radius: 3px;
  border: $border;
}
.block {
  margin-bottom: $space-large;
  background-color: $bgd-block;
  box-shadow: $box-shadow;
}
.destination {
  position: relative;
  composes: block;
  padding: 0 $space-large;
  &.loading {
    opacity: .7;
  }
  .loadingIcon {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }
}


.iconMap {
  composes: icon-small from global;
  fill: #96c3f6;
  vertical-align: middle;
}
.shopStore {
  display: flex;
  height: 3.5rem;
  align-items: center;
  border-bottom: $border;
  .location {
    color: #f7941d;
    font-weight: $font-bold;
  }
  :global(.icon-delivery) {
    margin-right: $space-medium;
  }
  :global(.icon-free-ship) {
    margin-right: $space-medium;
  }
}
.destinationInfo {
  padding-top: $space-large;
  padding-bottom: $space-large;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text {
    font-size: $font-small;
    color: $brand-desc;
    text-decoration: underline;
  }
}

.tableWrap {
  padding: 0 $space-large;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: $border;
  th {
    padding: 8px 2px;
    border-bottom: $border;
    border-right: $border;
    text-align: center;
    vertical-align: middle;
    font-weight: $font-bold;
    background-color: #f4f4f5;
    &:first-child {
      border-left: $border;
    }
  }
}
.subHeading {
  th {
    font-weight: normal;
    font-size: $font-small;
    color: $brand-desc;
  }
}

.customRadio {
  img {
    display: inline-block;
    max-width: 50px;
    max-height: 40px;
    margin-left: $space-medium;
    vertical-align: middle;
  }
  input {
    display: none;
  }
  .cirle {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border: $border;
    border-radius: 50%;
    vertical-align: middle;
    &::before {
      content: "";
      position: absolute;
      top: .4rem;
      left: .4rem;
      right: .4rem;
      bottom: .4rem;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .2s ease-in;
    }
  }
  input:checked + .cirle::before {
    background-color: #8dc63f;
  }
}

.deliveryInfo {
  composes: block;
  padding-bottom: 3rem;
  .heading {
    display: flex;
    height: 4.8rem;
    align-items: center;
    padding: 0 $space-large;
    font-size: $font-large;
    font-weight: $font-bold;
  }
}
.groupCarrierTitle {
  padding: $space-large $space-large;
  border-bottom: $border;
  text-transform: uppercase;
}
:global(.groupCarrier_1) {
  .groupCarrierTitle, .finalFee {
    color: #4099da;
  }
}
:global(.groupCarrier_2) {
  .groupCarrierTitle, .finalFee {
    color: #ea9038;
  }
}
.time, .deliveryFee, .finalFee, .logo {
  border-bottom: $border;
}
.time, .deliveryFee, .finalFee {
  font-size: $font-small;
  text-align: center;
  border-left: $border;
}
.logo {
  height: 5rem;
  padding-left: $space-large;
  border-left: $border;
}
.deliveryFee {
  color: #8dc63f;
  text-transform: uppercase;
}
.finalFee {
  margin-right: $space-large;
  text-transform: uppercase;
  border-right: $border;
}

.buttonSection {
  height: 4.8rem;
}
.btnWrap {
  position: fixed;
  display: flex;
  height: 4.8rem;
  align-items: center;
  bottom: 0; left: 0;
  width: 100%;
  padding: 0 $space-large;
  text-align: center;
  background-color: $bgd-block;
  box-shadow: $box-shadow-reverse;
  transform: translate3d(0,0,0);
}
:global(.iphone-x) .btnWrap {
  height: 7.6rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.btnShipping {
  width: 100%;
  height: 3.6rem;
}
.loadingIcon {
  position: fixed; z-index: $zindex-lv-1;
  left: 50%; top: 50%;
  transform: translate(-50%);
}