@import "../../styles/variables.css";
@import "../../styles/sendo/items/loading.css";
@import "../../styles/sendo/items/empty.css";
@import "../../styles/sendo/items/card.css";
.productList {
  padding-left: $space-medium;
  padding-right: $space-medium;
}

.listItem {
  position: relative;
  width: 100%;
}
.loadingIcon {
  position: fixed; z-index: $zindex-lv-1;
  left: 50%; top: 50%;
  transform: translate(-50%);
}
.loadingMoreIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
}
