@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/seemore.css";

.shortDescription {
  min-height: 4rem;
  max-height: 10rem;
  overflow: hidden;
}

.editor {
  padding: 0 $space-large $space-large;
  background-color: $bgd-block;
  :global(#editor-content) {
    word-wrap: break-word;
    img {
      max-width: 100% !important;
      max-height: 100% !important;
      height: auto !important;
    }
    iframe, video {
      max-width: 100% !important;
      width: 100% !important;
      height: auto !important;
    }
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.2 !important;
    }
    table {
      width: 100% !important;
    }
  }  
}
.modalScrollContainer {
  composes: modal-scroll-container from global;
}