@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/card.css";
.loadingIcon {
  position: fixed; z-index: $zindex-lv-1;
  left: 50%; top: 50%;
  transform: translate(-50%);
}
.loadingMoreIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
}
.listTrendingWrap{
  padding-left:$space-medium;
  padding-right:$space-medium;
}
