@import "../../../styles/variables.css";

.footerStikyBar {
  position: fixed;
  z-index: $zindex-fixed;
  display: flex;
  bottom: -4.5rem;
  left: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0 $space-large;
  align-items: center;
  background-color: $bgd-block;
  border-top: $border;
  transition: transform .2s ease-out;
  will-change: transform;
}
:global(.iphone-x) .footerStikyBar {
  height: 7.6rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  bottom: -7.6rem;
}
.footerStikyShow{
  transform: translateY(-100%);
  box-shadow: none;
}

.iconFilter,
.iconList {
  display: inline-block;
  vertical-align: middle;
  width: 2.4rem;
  height: 2.4rem;
  fill: #646464;
}
.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btnView {
  padding: $space-medium;
  &:focus {
    outline: none;
  }
}
.quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  min-width: 1.6rem;
  padding: 0.1rem .3rem;
  margin-left: $space-medium;
  color: $text-color-inverse;
  background-color: $brand-quaternary;
  border-radius: .8rem;

}