@import "../../styles/variables.css";

.commentGroup {
  border-bottom: $border;
}

.mainComment {}

.commentItem {
  display: flex;
  padding-top: $space-large;
  &.subComment {
    padding-top: $space-medium;
    padding-left: $space-large;
    padding-right: $space-large;
    margin-bottom: $space-medium;
    border-radius: .5rem;
    background-color: $bgd-primary;
    .groupAction {
      width: 40%;
    }
  }
}
.subListComment {  
  padding-top: $space-small; 
  margin-left: 4.2rem;
}
.inputWrap {
  display: block;
  max-height: 0;
  margin-bottom: $space-medium;
  margin-left: 4.2rem;
  overflow: hidden;
  transition: max-height 0.15s;
  &.show {
    max-height: 5rem; /*input height + validate => stupid code*/
  }
}
.avatar {
  flex: 0 0 3rem;
  max-width: 3rem;
  height: 3rem;
  margin-right: $space-large;
  border-radius: 50%;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.content {
  flex: 1;
  padding-bottom: $space-medium;
}
.userName {
  display: block;
  color: $brand-primary;
}
.shopLabel {
  padding: 0 $space-small;
  margin-right: $space-medium;
  font-size: $font-small;
  font-weight: normal;
  color: $white;
  background-color: $brand-primary;
  border-radius: .3rem;
}
.info {
  display: flex;
  justify-content: space-between;
}
.feedback {
  word-break: break-word;
  p {
    margin-bottom: $space-small;
  }
}
time {
  margin-right: $space-xmedium;
  font-size: $font-small;
  font-style: italic;
  color: $brand-desc;
}
.groupAction {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.reply,
.delete {
  color: #f7941d;
  font-size: $font-small;
  &::before {
    display: inline-block;
    content: "";
    width: .2rem;
    height: .2rem;
    background-color: $brand-desc;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: $space-xmedium;
  }
}
.delete {
  margin-left: auto;
}
