@import "../../../styles/variables.css";

.panelStrengthBanner {
  display: block;
  height: 0;
  padding-bottom: 29.0666%;
  text-align: center;
  img {
    display: block;
    max-width: 100%;
  }
}