@import "../../../styles/variables.css";

.content {
  overflow: hidden;
}
.groupLabel {
  background-color: $bgd-block;
  padding-bottom: $space-medium;
}
.promotion {  
  background-color: $bgd-block;
}
.listBenefit {
  padding: $space-large 0;
}
.promotionItem {
  display: flex;
  margin-bottom: $space-xlarge;
  &:last-child {
    margin-bottom: $space-medium;
  }
}
.iconInfo {
  flex: 0 0 $space-large;
  position: relative;
  top: .2rem;
  margin-right: $space-medium;
  fill: $brand-desc;
}
.promotionText {
  position: relative;
  color: $brand-desc;
}
.promotionValue {
  margin-left: auto;
  padding-left: $space-large;
  color: $brand-secondary;
  text-transform: uppercase;
  white-space: nowrap;
}
.collapseCtrl {
  display: flex;
  padding: $space-xmedium $space-large;
  margin-left: -$space-large;
  margin-right: -$space-large;
  justify-content: space-between;
  align-items: center;
  background-color: #eaf4f9;
  strong {
    padding-left: 1rem;
    color: $brand-primary;
    text-transform: uppercase;
  }
}
.iconCollapse {
  transition: transform .2s ease-in;
}
.collapseClose .iconCollapse {
  transform: rotate(180deg);
  
}

.popoverHeader {
  composes: popoverHeader;
}
.popoverFooter {
  composes: popoverFooter;
}
.btnClose {
  composes: popoverButtonClose;
}
.scrollContainner {
  max-height: calc(90vh - 9.6rem);
  padding: $space-medium $space-large;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

:global(.modal.show).modalPopoverRoot {
  .modalPopover {
    transform: translate(0, 50%);
  }
}

.labelIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 2.4rem;
  width: 17rem;
  margin-bottom: $space-medium;
  .bgdIcon {
    height: 2.4rem;
    width: 17rem;
  }
}

.icon {
  position: absolute;
  z-index: $zindex-lv-1;
  left: $space-small;
  top: 0;
  svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: .1rem;
    fill: $bgd-block;
  }
}
.labelText {
  position: absolute;
  display: flex;
  left: 0; top: 0;
  z-index: $zindex-lv-1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  
  padding-left: 1rem;
  text-align: center;
  color: $text-color-inverse;
}