@import "../../../styles/variables.css";

.header {
  display: flex;
  flex-wrap: wrap;
  height: 4.8rem;
  margin-left: 0;
  margin-right: 0;
  background-color: $brand-primary;
  color: $text-color-inverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  transition: background-color $transition-effect;
  &.deleteState {
    background: $brand-desc;
  }
}

.btnIcon {
  line-height: 0;
  font-size: $font-small;
  padding: $space-large;
}
.iconBack {
  margin-left: 0;
}
.btnIcon:hover,
.btnIcon:focus {
  outline: none;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: $text-color-inverse;  
}
.title {
  margin: 0;
  margin-right: auto;
  font-size: $font-large;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.groupBtn {
  white-space: nowrap;
}
.textDelete {
  font-size: $font-large;
  color: $text-color-inverse;
}
.sub {
  color: #fae507;
}