@import "../../../styles/variables.css";

.headingText {
  composes: heading-medium from global;
  composes: text-desc from global;
}

.listAttrSelected {
  display: flex;
  width: 100%;
  font-size: $font-medium;
  .attr {
    flex: 1;
    position: relative;
    p {
      color: $brand-secondary;
      margin: .5rem auto;
      text-align: center;

      &.labelAttr {
        color: $text-color;
      }
    }
    &:after {
     content: '';
     position: absolute;
     bottom: 10px;
     right: 0;
     background: $brand-desc;
     width: 1px;
     height: 24px;
   }
  }
  .attr:last-child {
    &:after {
       display: none;
     }
  }
}

.circle {
  border-radius: 50%;
  border: $border;
  height: 1.6rem;
  width: 1.6rem;
}
