@import "../../../styles/variables.css";

.userInfo {
  display: flex;
  align-items: center;
  height: $space-xhuge;
  padding-left: $space-large;
  padding-right: $space-large;
  background-color: $brand-primary;
  color: $text-color-inverse;
  p {
    margin-bottom: 0;
  }
  .email {
    font-size: $font-small;
  }
  :global .loginWrapper {
    display: inline-block;
  }
  .textRegister {
    position: relative;
    padding-left: $space-xmedium;
    margin-left: $space-xmedium;
    &::before {
      content: "";
      position: absolute;
      left: 0; top: 2px; bottom: 2px;
      width: 1px;
      background-color: $white;
    }
  }
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: $space-huge;
  height: $space-huge;
  margin-right: $space-large;
  border-radius: 50%;
  overflow: hidden;
  background-color: $white;
  img {
    max-width: 100%;
  }
}
.listMenu {
  overflow-y: auto;
  height: 100%;
}
.inner {
  height: calc(100% + 4px);
}
.menuLink {
  display: flex;
  align-items: center;
  height: $space-huge;
  padding-left: $space-large;
  padding-right: $space-large;  
  .menuIcon {
    margin-right: $space-xlarge;
  }
  .label {
    display: inline-block;
    margin-left: $space-medium;
    padding: 2px $space-medium 1px;
    font-size: .9rem;
    color: $text-color-inverse;
    text-transform: uppercase;
    background-color: $brand-secondary;
    border-radius: $border-radius-medium;
  }
  &.allcate {
    background-color: #e8e8e8;
    .menuIcon {
      fill: $brand-primary;
    }
  }
}
.shortCutLink {
  padding: $space-medium 0;
  border-bottom: $line-dotted;
}
.extraLink {
  padding: $space-medium 0;
}
.userControl {
  border-top: $line-dotted;
  padding: $space-medium 0;
}
