@import "../../../styles/sendo/variables.css";
@import "../../../styles/sendo/items/button_social_login.css";
.form {
	font-size: $font-medium;
	:global(.input) {
		height: $space-xlarge;
		width: 100%;
		border-radius: $border-radius-medium;
		border: 1px solid #a2a2a2;
		margin: 12px 0;
		padding: 0 6px;
	}
	/*:global(.error) {*/
		/*color: $brand-primary;*/
	/*}*/
	p {
		margin-bottom: 0;
	}
}
.brand {
  color: $brand-primary;
}
.options{
  margin: 12px 0;
}
.link{
	color: $brand-tertiary;
}
.action{
  composes: formLinkAction from global;
	margin-top: $space-xlarge;
  button {
		font-weight: $font-bold;
		color: $brand-tertiary;
  }
}
.disabled {
  color: $text-color-placeholder;
}
.wrap{
	display: flex;
	margin-top: $space-xlarge;
}
.login {
	text-align: right;
	width: 30%;
}
.full {
	text-align: right;
	width: 100%;
}
.login, .register, .full{
	color: #4a90e2;
	font-style: italic;
	text-decoration: underline;
}
.register{
	text-align: left;
	width: 70%;
}
.otpText {
	span {
		color: $brand-desc;
	}
	margin-bottom: $space-xlarge !important;
}
.resend {
	text-align: center;
	padding-top: $space-large;
	p {
		color: $brand-desc !important;
		margin-top: $space-large;
	}
	button, label {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 360px) {
	.captcha {
		display: flex;
		justify-content: center;
		overflow: hidden;
	}
}
@media (max-width: 320px) {
	:global .g-recaptcha {
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scale(0.85) !important;
		-moz-transform: scale(0.85) !important;
		-ms-transform: scale(0.85) !important;
		-o-transform: scale(0.85) !important;
		transform: scale(0.85) !important;
	}
}
:global .g-recaptcha {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
