@import "../../styles/variables.css";

.chart {
  display: flex;
  align-items: center;
  margin-bottom: $space-medium;
}

.average {
  flex: 0 0 11.4rem;
  max-width: 11.4rem;
  font-size: 1.8rem;
  text-align: center;
  margin-right: $space-large;
  p {
    font-size: $font-small;
    color: $brand-desc;
    font-style: italic;
  }
  .starRating {
    display: flex;
    justify-content: center;
    padding-left: $space-medium;
    margin-bottom: $space-medium;
  }
}
.number {
  font-size: 2.4rem;
  strong {
    font-size: 6.4rem;
  }
  span {   
    color: $brand-primary;
  }  
}
.details {
  width: 100%;
  padding-left: $space-large;
  border-left: $border;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-xmedium;
}
.progessBar {
  position: relative;
  width: 50%;
  height: .5rem;
  margin-left: $space-large;
  border-radius: 3px;
  background-color: #e0e0e0;
  overflow: hidden;
  .value {
    position: absolute;
    top: 0; bottom: 0;
    left: 0;
    width: 0%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
.star1 {background-color: #ffc12d;}
.star2 {background-color: #ff9a2d;}
.star3 {background-color: #ff772d;}
.star4 {background-color: #ff552d;}
.star5 {background-color: #e5101d;}

.quantity {
  display: inline-block;
  min-width: 4rem;
  text-align: right;
  color: $brand-desc;
}

.decsription {
  color: $brand-desc;
  text-align: center;
  font-style: italic;
}
