@import "../../../styles/variables.css";

.panelRecentlyViewed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $space-xhuge;
  padding: 0 $space-medium 0 $space-large;
}
.right {  
  display: flex;
  align-items: center;
  margin-left: auto;
}
.text {
  padding: $space-large 0;
}
.thumb {
  display: inline-block;
  width: $space-xxlarge;
  height: $space-xxlarge;
  border: $border;
  margin-left: $space-small;
  margin-right: $space-small;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}