@import "../../styles/variables.css";
@import "../../styles/sendo/items/card.css";
.revert {fill: $orange;}
.install {fill: $blue;}
.coin {fill: $yellow;}
.delivery {fill: $green;}
.map {fill: #96c3f6;}