@import "../../../styles/variables.css";

.addHomeScreenGuide {
  height: 100%;
  text-align: center;
  :global .btn-icon {
    position: fixed;
    top: 0; left: 0;
  }
  &.android {
    padding-top: $space-xhuge;
    background: url('./android.jpg') no-repeat 0 0 #f8eff4;
    background-size: cover;
  }
  &.iOS {
    background: url('./ios.jpg') no-repeat 0 bottom #f8eff4;
    background-size: cover;
  }
}
.title {
  margin-bottom: $space-medium;
  font-size: $font-medium;
}
.guide {
  width: 80%;
  margin: 0 auto;
  :global .icon {
    vertical-align: bottom;
  }
}
.iOS {
  .description {
    position: absolute;
    bottom: 9rem;
  }
}
