@import "../../styles/variables.css";
.smartbanner {
  display: none;  
  width: 100%;
  background-color: $bgd-block;
  &.show {
    display: block;
  }
}

.container {
  display: flex;
  align-items: center;
  height: $space-xhuge;
  p {
    margin: 0;
  }
}
.title {
  font-size: $font-small;
  strong {
    padding-right: $space-small;
    font-size: $font-medium;
    color: $brand-primary;
  }
}

.mainContent {
  display: flex;
  align-items: center;
  .logo {
    flex: 0 0 $space-huge;
    max-width: $space-huge;
    margin-right: $space-medium;
  }
}
.btnOpen {
  margin-left: auto;
  margin-right: $space-large;
  width: 9rem;
  text-align: center;
}