.cmsContentWrapper {
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: .6rem;
}

.cmsContent {
    width: 100%;
    height: auto;
    border-radius: 3px;
    overflow: hidden;
}

.cmsContent img {
    max-width: 100%;
}