@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/chooselabel.css";
.checkbox {
  display: flex;
  align-items: center;
  padding: $space-medium;
  .input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .boxCheck {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: $space-medium;
    border: 1px solid $gray;
    border-radius: 3px;
    background-color: $bgd-block;
    transition: background-color .15s ease-in, border-color .15s ease-in;
  }
  .iconCheck {
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0;
    fill: $white;
    transition: opacity .15s ease-in;
  }
  &.selected .boxCheck {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
  }
  &.selected .iconCheck {
    opacity: 1;
  }
}

.groupOptions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -$space-medium;
  margin-right: -$space-medium;
  .item {
    padding-left: $space-medium;
    padding-right: $space-medium;
    margin-bottom: $space-large;
  } 
}

.BrandTerm {
  :global .choose-label-img {
    width: 100%;
    height: 3.2rem;
    overflow: hidden;
    background-color: transparent;
    transition: border-color $transition-effect;
  }
  :global .choose-label-img img {
    max-width: 100%;
    max-height: 3.2rem;
  }
  :global .choose-label-img.active {
    background-color: transparent;
    border-color: $brand-primary;
  }
  .item {
    flex: 0 0 25%;
  }
}
.ColorTerm {
  :global .choose-label-circle {
    width: 3.6rem;
    height: 3.6rem;
    background-size: contain !important;
  }
  .item {
    flex: 0 0 20%;
    margin-bottom: $space-large;
    text-align: center;
  }
}