@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/card.css";
@import "../../../styles/sendo/items/seemore.css";
.loadingMoreIcon {
    composes: loadingMore from global;
}

.infoPaging {
    width: 100%;
    padding-top: $space-medium;
    text-align: center;
  }