@import "../../../styles/variables.css";
@import "../../../styles/sendo/modal.css";
@import "../../../styles/sendo/items/empty.css";

.productCommentModal {
  composes: modal-scroll-container from global;
  padding-bottom: 5rem;
}
.commentList {
  padding: $space-medium $space-large;
  background-color: $bgd-block;
  margin-bottom: $space-large;
  box-shadow: $box-shadow;
  :global .commentGroup:last-child {
    border-bottom: none;
  }
}
.loadingMoreIcon {
  composes: loadingMore from global;
}
.infoPaging {
  width: 100%;
  padding-top: $space-medium;
  text-align: center;
}
