@import "../../styles/variables.css";

.productPhotoGallery {
  height: 100%;
  background-color: $black;
}
.main {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.currentImage {
  display: inline-block;
  max-width: 100%;
}
.thumbnails {
  position: absolute; z-index: $zindex-lv-1;
  left: 0; right: 0;
  bottom: 0;
  padding: $space-small 0;
  background-color: rgba(0, 0, 0, .5);
  .item {
    width: 5rem; height: 5rem;
    border: 1px solid transparent;
    &.active {
      border-color: red;
    }
    img {
      max-width: 100%;
    }
  }
  .midle {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.navCtrl {  
  button {
    padding: $space-medium;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }  
}
.btnPrev {
  left: 0;
  .icon {
    transform: rotate(180deg);
  }  
}
.btnNext {
  right: 0;
}
.icon {
  composes: icon from global;
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
}
.videoThumb {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, .5);
  }
}
.iconPlay {
  composes: icon from global;
  fill: $bgd-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}