@import "../../../styles/variables.css";

:global(.search-bar) {
  display: flex;
  align-items: center;
  width: 100%;
  height: $space-huge;
  background-color: $bgd-block;
}
.btnGuide {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  .iOS.canShowUserGuide, .android {
    opacity: 1;
    visibility: visible;
  }
  
}

@media all and (display-mode: standalone) {
  .btnGuide {
    opacity: 0 !important;
    visibility: hidden !important; 
  }
}