@import "../../styles/variables.css";
@import "../../styles/sendo/modal.css";

$height-heading: 4.8rem;

.sideBarFiler {
  position: relative;
  background-color: $bgd-primary;
}
.filterHeading {
  position: fixed; z-index: $zindex-lv-1;
  display: flex;
  left: 0; top: 0;
  width: 100%;
  height: $height-heading;
  align-items: center;
  padding: $space-large;
  background-color: #f4e7d6;
  font-size: $font-large;
  font-weight: $font-bold;
  border-bottom: $border;
  transform: translateZ(0);  
}
.filtersFooter {
  position: fixed; z-index: $zindex-lv-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0; bottom: 0;
  width: 100%;
  height: $height-heading;
  padding-left: $space-large;
  padding-right: $space-large;
  background-color: $bgd-block;
  transform: translateZ(0);
  transition: bottom .15s ease-in; 
}
:global(.iphone-x) .filtersFooter {
  height: 7.6rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.btnFilter {
  width: 48%;
}
.filterPanel {
  padding: $space-medium $space-large;
  margin-bottom: $space-medium;
  background-color: $bgd-block;
  box-shadow: $box-shadow;
  &.active .collapseCtrl::before {
    transform: rotate(0);
  }
}

.panelTitle {
  display: flex;
  padding: $space-medium 0;
  justify-content: space-between;
  align-items: center;
  .title {
    margin-bottom: 0;
    font-weight: $font-bold;
  }
  .collapseCtrl {
    position: relative;
    width: 1.2rem;
    min-height: 0.2rem;
    background-color: $brand-desc;
    &::before {
      content: "";
      position: absolute;
      left: 0; top: 0;
      width: 1.2rem;
      min-height: 0.2rem;
      background-color: $brand-desc;
      transition: transform .1s ease-in;
      transform: rotate(90deg);
    }
  }  
}
.collapseInner {
  padding-top: $space-large;
}

.scrolling {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: $height-heading 0 9.6rem;
  height: 100vh;
  transition: height .15s ease-in;
  &::-webkit-scrollbar {
    display: none;
  }
}
:global(.modal.modal-filter .modal-content) {
  border: none;
  border-radius: 0;
}

:global(.modal.modal-filter .modal-dialog) {
  position: fixed;
  margin: auto;
  width: 85%;
  max-width: 32.5rem;
  height: 100%;
  transform: translateZ(0);
}

:global(.modal.modal-filter .modal-body) {
  padding: 0;
}

/*Left*/
:global(.modal.modal-filter .modal-dialog) {
  left: 0;
  transform: translate3d(-100%, 0px, 0px);
  transition: transform 0.25s ease-in;
  will-change: transform;
}

:global(.modal.modal-filter.show .modal-dialog){
  transform: translate3d(0px, 0px, 0px);
}
