.popoverHeader {
  font-size: $font-large;
  display: flex;
  align-items: center;
  height: 4.8rem;
  padding: 0 1.2rem;
}
.content {
  padding: $space-large;
}
.control {
  padding: $space-large;
  display: flex;
  justify-content: space-around;
  button {
    font-size: $font-large;
    font-weight: $font-bold;
  }
  .btnCancel {
    color: $brand-desc;
  }
  .btnOk {
    color: #4099da;
  }
}
:global(.modal).modalPopoverRoot {
  .popover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    margin: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2 ease-in-out;
  }
}
:global(.modal.show).modalPopoverRoot {
  .popover {
    opacity: 1;
  }
}