@import "../../styles/variables.css";
.productButtonGroup {
  position: relative;
}
.groupControl {
  display: flex;
  align-items: center;
  height: $space-xhuge;
  background-color: $bgd-block;
  button {
    display: block;
    height: 100%;
    width: 100%;
    color: $text-color-inverse;
    font-size: $font-large;
    font-weight: $font-bold;
    border-radius: 0;
  }
}
:global(.iphone-x) .groupControl {
  height: 7.6rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.iconCart {
  composes: icon-medium from global;
  fill: $text-color-inverse;
}
.customSelect {
  padding-left: $space-large;
  padding-right: $space-large;
}
.btnWrap {
  display: flex;
  width: 100%;
  height: 100%;
  :global .loginWrapper {
    width: 100%;
    height: 100%;
  }
}
.selectbox {
  height: 3rem;
  min-width: 5rem;
  display: inline-block;
  padding: .5rem 0;
  font-size: $font-medium;
  line-height: 1.25;
  color: $text-color;
  background-color: $white;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  text-align: center;
  text-align-last:center;
  &:focus {
    outline: none;
  }
}
.btnCart {
  background-color: $brand-secondary;
}

.btnBuy {
  background-color: $brand-primary;
}
.outOfStock {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .8);
  color: $text-color-inverse;
}

.fixedBottom {
  position: fixed;
  z-index: $zindex-fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, .2);
}