@import "../../styles/variables.css";

.ratingItem {
  display: flex;
  padding-top: $space-large;
}
.avatar {
  flex: 0 0 3rem;
  max-width: 3rem;
  height: 3rem;
  margin-right: $space-large;
  border-radius: 50%;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.content {
  flex: 1;
  /*border-bottom: 1px solid $border-color;*/
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: $space-small;
}
.feedbackInfo {
  .userName {
    display: block;
  }
  time {
    font-size: $font-small;
    font-style: italic;
    color: $brand-desc;
  }
}
.rate {
  display: flex;
  align-items: center;
  span {
    font-size: $font-medium;
    padding-right: $space-medium;
  }
}
.feedbackImage {
  display: flex;
  flex-wrap: wrap;
  span {    
    flex: 0 0 5rem;
    margin-left: $space-small;
    margin-right: $space-small;
    margin-bottom: $space-medium;
    border: $border;
  }
  img {
    max-width: 100%
  }
}