@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/shortcut.css";
@import "../../../styles/sendo/slider.css";

.sliderWrap {
  position: relative;
  margin-bottom: $space-large;
  display: block;
  height: 0;
  padding-bottom: 41.0714%;
  overflow: hidden;
  :global .swiper-container {
    height: 0;
    padding-bottom: 41.0714%;
  }
  :global .swiper-slide {
    display: block;
    height: 0;
    padding-bottom: 41.0714%;
  }
  :global .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: $space-large;
  }
  img {
    width: 100%;
    transition: opacity $transition-effect;
  }
}
.bannerLoading {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 30rem;
    height: 10rem;
  }
}
.shortcutLink {
  display: flex;
  justify-content: space-around;
  padding-bottom: $space-large;
}
.sliderWrap {
  :global .slick-dots {
    position: absolute;
    bottom: $space-large;
    left: 50%;
    transform: translateX(-50%);
  }
  :global .slick-dots li {
    margin-left: $space-small;
    margin-right: $space-small;
  }
}

.iconAllcate {background-color: $brand-primary}
.iconTrend {background-color: #8393ca}
.iconPromotion {background-color: #bd8cbf}
.iconHotsale {background-color: #9abc4e}