@import "../../../styles/variables.css";
@import "../../../styles/sendo/modal.css";
@import "../../../styles/sendo/slider.css";
@import "../../../styles/sendo/items/campaignBox.css";

.thumbnail {
  position: relative;
  text-align: center;
  border-bottom: $border;
  background-color: $bgd-block;
}
.sliderWrap {
  display: block;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  :global .swiper-container {
    height: 0;
    padding-bottom: 100%;
  }
  :global .swiper-slide-active {
    background-color: $bgd-block;
  }
  :global .swiper-slide img {
    width: 100%;
  }
  :global .swiper-slide {
    display: block;
    height: 0;
    padding-bottom: 100%;
  }
}
.figure {
  position: relative;
  margin: 0;
  text-align: center;
}
.img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hhch {
  position: absolute;
  z-index: $zindex-lv-1;
  left: $space-large;
  top: $space-large;
  width: 8.9rem;
  height: 2.5rem;
}
.social {
  position: absolute;
  z-index: $zindex-lv-1;
  display: flex;
  bottom: -1.8rem;
  right: $space-large;
  .btnIcon {
    padding: $space-medium;
    margin-left: $space-large;
    background-color: $bgd-block;
    box-shadow: $box-shadow;
    border-radius: 50%;
    &.active :global .icon {
      fill: $brand-primary;
    }
  }
  .isInvalid {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-color: rgba(0, 0, 0, .2);
      border-radius: 50%;
    }
  }
}
.productName {
  margin-bottom: $space-medium;
  font-size: $font-large;
  font-weight: $font-bold;
}
.caption {
  padding: 3rem $space-large $space-small;
  background-color: $bgd-block;
}
.groupPrice {
  display: flex;
  align-items: center;
  margin-bottom: $space-medium;
}
.price {
  display: flex;
  align-items: center;
  margin-right: $space-large;
  margin-bottom: 0;
}
.productInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: $space-medium;
  min-height: 1.8rem;
}

.productInfo .order {
  font-size: $font-small;
  color: $brand-desc;
  font-style: italic;
}
.countDown {
  margin-bottom: $space-medium;
  color: $brand-desc;
  strong {
    color: #4099da;
  }
}
.rate {
  display: flex;
}
.rateNumber {
  padding-left: $space-medium;
  font-size: $font-small;
  font-style: italic;
  span {
    color: $brand-desc;
  }
}

.btnClose {  
  position: absolute;
  z-index: $zindex-lv-1;
  top: $space-large;
  right: $space-large;  
}
.iconClose {
  fill: $text-color-inverse;
}

.videoThumb {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, .5);
  }
}
.iconPlay {
  composes: icon-xlarge from global;
  fill: $text-color-inverse;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sliderWrap {
  :global(.swiper-pagination) {
    bottom: $space-large;
    left: $space-large;
    width: auto;
    .dot {
      width: 0.8rem;
      height: 0.8rem;
      margin-left: 0;
      margin-right: $space-small;
      border: 1px solid $black;
      background-color: transparent;
    }    
    .camera {
      position: relative;
      top: -1px;
      width: 1.2rem;
      height: 1.2rem;
      margin-left: 0;
      margin-right: $space-small;
      vertical-align: middle;
      border: none;
    }
    :global(.swiper-pagination-bullet-active).camera {
      fill: $brand-primary;
    }
  }
}