.title{
	font-size: $font-large;
	position: relative;
	text-transform: uppercase;
	h4 {
		font-size: $font-large;
	}
}
.quit{
	position: absolute;
	top: -$space-medium;
	right: -$space-medium;
	display: block;
	width: $space-xlarge;
	height: $space-xlarge;
	text-align: center;
}

.modalClassic {
	margin-top: $space-xlarge;
	:global .modal-body{
		padding: $space-xlarge;
	}
}

.modalClassic {
	:global .modal-content{
		background-color: white !important;
	}
}

.iconClose {
	fill: $text-color;
}

.logo {
	width: 6.5rem;
	height: auto;
}