@import "../../styles/variables.css";
@import "../../styles/sendo/items/toast.css";
.toast {
  :global(.toast)& {
    position: fixed; z-index: $zindex-highest;
    left: 0; right: 0;
    bottom: -$space-xhuge;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    will-change: transform;
  }
}
.toast {
  :global(.open)& {
    transform: translate3d(0, -$space-xhuge, 0);
    opacity: 1;
  }
}