@import "../../../styles/variables.css";

.panelLoginBanner {
  display: flex;
  height: 6.4rem;
  align-items: center;
  padding-right: $space-medium;
}
.text {
  margin-right: auto;
}
.iconBgd {
  height: 6.4rem;
  width: 5.4rem;
  margin-right: $space-medium;
}