@import "../../styles/variables.css";

$rate-width: 5.7rem;
$rate-width-big: 10rem;
$rate-height: 0.9rem;
$rate-height-big: 1.5rem;

.stars {
  display: inline-block;
  position: relative;
  font-size: 0;
  line-height: 1;
  vertical-align: middle;
}
.bgd {
  width: $rate-width;
  height: $rate-height;
  vertical-align: middle;
  fill: $ghost;
}
.active {
  position: absolute;
  top: 0; left: 0;
  bottom: 0;
  width: 0%;
  overflow: hidden
}
.value {
  width: $rate-width;
  height: $rate-height;
  fill: red;
  vertical-align: middle;
}
.big {
  width: $rate-width-big;
  height: $rate-height-big;
}
.star-1 {fill: #ffc12d;}
.star-2 {fill: #ff9a2d;}
.star-3 {fill: #ff772d;}
.star-4 {fill: #ff552d;}
.star-5 {fill: #e5101d;}