:global .box-trending-wrap{
    background-color: $white;
    box-shadow: $box-shadow;
    width: 100%;
    overflow : hidden;
    margin-bottom: $space-large;
    display: flex;
}

:global .box-trending-thumb{
    max-width: 12rem;
    height: 12rem;
    flex: 0 0 12rem;
    position: relative;
    overflow: hidden;
    border: $border;
    border-bottom: none;
}

:global .box-trending-text{
    padding: $space-large;
    height: 12rem;
    overflow: hidden;
    flex-grow: 1;
}

:global .trending-big-thumb{
    width: 100%;
}

:global .box-trending-thumb-bottom{
    position: absolute;
    left: 0;
    width: 100%;
    height: 3.2rem;
    bottom : 0.5rem;
    z-index: $zindex-lv-1;
    background-color: transparent;
}

:global .item-trending {
    width: 33.3333%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

:global .wrap-small-image{
    border: $border;
    background: $white;
}

:global .content-trending {
    padding: 0 $space-small;
    background-color: transparent;
    display: flex;
}

:global .box-trending-text .text-trending{

    font-size: $font-small;
}

:global .box-trending-text .heading-text{
    margin-bottom: $space-large;
}

:global .box-trending-flex-order{
    order : 1;
}