:global .btn-social-login{
    font-size: $font-medium;
    position: relative;
    height: 3.6rem;
    box-shadow: 0 0.2rem 0 0 rgba(0, 0, 0, 0.2);
}

:global .btn-social-login-fb{
    background-color: #4d75b9;
}

:global .btn-social-login-gg{
    background-color: $brand-primary;
}

:global .icon-btn-social-login{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3.6rem;
    padding-top: $space-medium;
    display: flex;
}

:global .icon-btn-social-login::after{
    width: 0.1rem;
    height: 1.2rem;
    background-color: $text-color-inverse;
    display: block;
    margin-top: $space-medium;
    content: '';
}

:global .svg-btn-login-social{
    fill: $bgd-block;
    flex-grow: 1;
}