:global .btn-cate-accordion{
    font-size: $font-small;
    background-color: white;
    color: $brand-desc;
    border: $border;
    padding: 0 $space-medium;
    margin-bottom: $space-medium;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.2rem;
    transition: background-color 0.5s, color 0.5s;
}

:global .btn-cate-accordion.active{
    background-color: $brand-primary;
    color: $text-color-inverse;
    border: none;
}

:global .svg-btn-cate-accordion{
    fill: $brand-primary;
    margin-right: $space-medium;
}

:global .btn-cate-accordion.active .svg-btn-cate-accordion {
    fill: $bgd-block;
}