:global .freeship-campaign-box {
  display: flex;
  align-items: center;
  padding: $space-medium $space-large;
  background-color: #fff4e2;
}
:global .freeship-campaign-box p {
  margin-bottom: 0;
}
:global .freeship-campaign-box .icon {
  flex: 0 0 3.6rem;
  margin-right: $space-large;
}
:global .freeship-campaign-box .info > strong:nth-child(1) {
  color: $brand-primary;
}
:global .freeship-campaign-box .info > strong:nth-child(2) {
  color: $brand-quaternary;
}