@import "../utilities.css";
/*******************/
:global .product-gridview {
  display: flex;
  flex-wrap: wrap;
}
:global .product-gridview .item {
  position: relative;
  width: 100%;
  min-height: 1px;
  max-width: 50%;
  flex: 0 0 50%;
  margin-bottom: $space-medium;
  border: $border;
}
:global .product-gridview .item.event {
  border: none;
}
:global .product-gridview .item.event .caption {
  padding: 0 $space-large;
}
:global .product-gridview-3 .item {
  margin-bottom: 0;
  border: $border;
  border-top: none;
}
:global .product-gridview-3 .item:nth-child(1), :global .product-gridview-3 .item:nth-child(2), :global .product-gridview-3 .item:nth-child(3) {
  border-top: $border
}
:global .product-listview .item {
  flex: 0 0 100%;
  max-width: 100%;
}
:global .product-gridview-3 .item {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
:global .product-gridview-2 .item:nth-child(2n) {
  border-left-color: $bgd-block;
}
:global .product-gridview-3 .item{
  border-left-color: transparent;
}
:global .product-gridview-3 .item:nth-child(3n+1) {
  border-left: $border;
}
/*******************/

/*******************/
:global .discount-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  padding: 0 $space-medium;
  margin-bottom: $space-small;
  font-size: $font-small;
  border-radius: $border-radius-medium;
  text-align: center;
  color: $text-color-inverse;
  background-color: $brand-secondary;
  vertical-align: top;
}
:global .discount-label-app {
  padding-left: 0;
  background-color: #7fd6f7;
}
:global .discount-label-app-reverse {		
 	padding-left: 0;		
  background-color: transparent;		
  color: #7fd6f7;		
  font-size: $font-medium;		
}
:global .discount-label .icon-small {
  fill: $text-color-inverse;
}
:global .discount-label.discount-label-app-reverse .icon-medium {		
  fill: #7fd6f7;		
}
:global .product-price {
  margin-bottom: $space-medium;
}
:global .product-listview .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.1rem;
}
:global .product-price .current {
  padding-right: $space-medium;
  font-size: $font-medium;
  color: $brand-primary;
  font-weight: $font-bold;
  text-transform: uppercase;
}
:global .product-price .old {
  font-size: $font-small;
  color: $brand-desc;
  font-style: italic;
  text-decoration: line-through;
}

/*******************/


/*******************/
:global .product-card {
  position: relative;
  display: block;
  padding: $space-medium $space-medium 0;
  background-color: $bgd-block;
  text-decoration: none;
  overflow: hidden;
}
:global .product-card.event {
  background-color: transparent;
}
:global .product-listview .product-card{
  display: flex;
}
:global .product-card:hover {
  text-decoration: none;
}
:global .product-card .thumbnail {
  position: relative;
  margin-bottom: $space-medium;
}
:global .product-listview .product-card .thumbnail{
  -ms-flex: 0 0 11.3rem;
  flex: 0 0 10.6rem;
  max-width: 10.6rem;
  margin-right: 1.2rem;
}
/*:global .product-card .thumbnail .image-square {*/
  /*border-radius: .4rem;*/
/*}*/
:global .product-card.event .thumbnail .image-square {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
:global .product-card.event .thumbnail .image-square img.blur {
  opacity: 0.6;
}
:global .product-card.event .thumbnail .image-square .badge {
  position: absolute;
  right: -2.8rem;
  top: 2rem;
  width: 12rem;
  height: $space-xlarge;
  line-height: $space-xlarge;
  background-color: #d8d8d8;
  color: $text-color;
  z-index: $zindex-lv-1;
  text-align: center;
  transform: rotate(45deg);
}
:global .product-card .has-video {
  position: absolute;
  z-index: $zindex-lv-1;
  bottom: -$space-medium; right: -$space-medium;
  padding: $space-small;
  background-color: rgba(255,255,255,.4);
  border-top-left-radius: $border-radius-medium;
}
:global .product-card .has-video .icon {
  fill: $brand-primary;
}
:global .product-card .is-brand {
  position: absolute;
  z-index: $zindex-lv-1;
  left: -$space-medium;;
  top: $space-medium;
  width: 5.5rem;
  height: 1.6rem;
}
:global .product-listview .product-card .is-brand{
  position: relative;
  left: 0;
  top: 0;
  width: 6.4rem;
  height: 2.1rem;
}
:global .product-card .shop-ads {
  position: absolute;
  z-index: $zindex-lv-1;
  top: -$space-medium;
  left: -$space-medium;
  padding: 0.1rem .4rem;
  background-color: #d8d8d8;
  font-size: .6rem;
  color: #a2a2a2;
  border-bottom-right-radius: .2rem;
}
:global .product-card .group-discount {
  position: absolute;
  z-index: $zindex-lv-1;
  right: -$space-small;
  top: $space-medium;
}
:global .group-discount-horizontal {
  display: flex;
}
:global .group-discount-horizontal .discount-label {
  margin-right: $space-medium;
  margin-bottom: 0;
}
:global .product-listview .group-discount-horizontal .discount-label {
  margin-right: 0;
  margin-left: $space-medium;
}
:global .product-card .heading-medium {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-bottom: $space-medium;
}
:global .product-listview .product-card .heading-medium {
  margin-bottom: $space-small;
}

:global .product-card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $space-medium;
  border-bottom: $line-dotted;
}
:global .product-card .info .like {
  padding-left: $space-small
}
:global .product-card .shop-info {
  display: flex;
  align-items: center;
  height: $space-xxlarge;
}
:global .product-listview .product-card .shop-info {
  height: auto;
  padding-top: 6px;
  margin-bottom: 3px;
}
:global .product-card .shop-info .name {
  display: flex;
  flex: 0 0 80%;
  max-width: 80%;
  align-items: center;
}
:global .product-listview .product-card .shop-info .name {
  flex: 0 0 60%;
  max-width: 60%;
}
:global .product-card .shop-info .icon {
  width: 1.8rem; height: 1.8rem;
}
:global .product-card .shop-info .icon-free-ship {
  width: 3.6rem; height: 1.8rem;
}
:global .product-card .shop-info .promotion {
  margin-left: auto;
}
:global .product-card .shop-label {
  padding: 0 $space-small;
  margin-right: $space-small;
  font-size: $font-small;
  color: $white;
  background-color: $ghost;
  border-radius: $border-radius-small
}
:global .product-card .reputation {
  flex: 0 0 4.5rem;
  width: 4.5rem;
  height: $space-large;
  margin-right: $space-small;
}
/*******************/


/*******************/
:global .product-card-basic .heading-medium {
  display: block;
  height: auto;
}
/*******************/


/*******************/
:global .card-horiz {
  display: flex;
}
:global .card-horiz img {
  display: inline-block;
  flex: 0 0 5rem;
  width: 5rem;
  height: 5rem;
  margin-right: $space-large;
  border: $border;
}
:global .card-horiz .caption{
  width: 100%;
}
:global .card-horiz .card-name {
  margin-bottom: $space-medium;
  color: $black;
}
:global .card-horiz .current {
  padding-right: $space-medium;
}
:global .card-horiz .old {
  text-decoration: line-through;
}
:global .event-listview {
  padding: 0 $space-medium;
}
/*******************/


/*******************/
:global .card-cate {
  position: relative;
  display: block;
  border: $border;
}

:global .card-cate img {
  display: block;
  max-width: 100%;
}
:global .card-cate .caption {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: $space-large;
  right: $space-large;
  bottom: $space-large;
  height: $space-xlarge;
  padding-left: $space-medium;
  padding-right: $space-medium;
  background-color: rgba(255, 255, 255, .8);
  border: $border;
}
:global .card-cate .caption .text-normal {
  font-weight: normal;
}

:global .product-listview .caption {
  flex-grow: 1;
}
/*******************/

:global .skeleton {
  display: block;
  min-height: 24rem;
  padding: $space-medium;
  margin-bottom: $space-medium;
  background-color: $bgd-block;
}
:global .skeleton-thumbnail {
  position: relative;
  text-align: center;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: $space-large;
}
:global .skeleton-line {
  height: 6px;
  margin-bottom: $space-medium;
}
:global .skeleton-lineMd {
  width: 80%;
}
:global .skeleton-lineLg {
  width: 100%;
}
:global .skeleton-lineSm {
  width: 60%;
}
.skeleton-line,
.skeleton-thumbnail {
  composes: effect-1 from global;
}

/*********************/
:global .round-border-label {
  height: $space-xlarge;
  width: 100%;
  line-height: $space-xlarge;
  text-align: center;
  font-size: $font-small;
  border: 1px solid;
  border-radius: $space-large;
}
:global .round-border-label.red {
  border-color: $brand-primary;
  color: $brand-primary;
}
:global .round-border-label.gray {
  border-color: $brand-desc;
  color: $brand-desc;
}