:global .choose-label {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 2.4rem;
  min-width: 4.6rem;
  padding: 0 $space-medium;
  background-color: #efefef;
  font-size: $font-medium;
  border: $border;
  border-radius: $border-radius-medium;
  transition: color $transition-effect, background-color $transition-effect;
}

:global .choose-label.active {
  color: $text-color-inverse;
  background-color: $brand-primary;
}

:global .choose-label-circle {
  position: relative;
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  border: $border;
  border-radius: 50%;
  background-size: contain !important;
}
:global .choose-label-circle::after {
  content: "";
  position: absolute;
  left: -$space-medium;
  top: -$space-medium;
  right: -$space-medium;
  bottom: -$space-medium;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border-color $transition-effect;
}
:global .choose-label-circle.active::after {
  border-color: $brand-primary;
}