:global .content-empty {
  margin-bottom: $space-large;
  text-align: center;
}
:global .content-empty .image-square {
  margin-bottom: $space-large;
}
:global .content-empty.small .image-square {
  display: inline-block;
  width: 9.6rem; height: 9.6rem;
  padding-top: 0;
}
:global .content-empty.full {
  width: 100%;
  padding: $space-xlarge;
}
:global .content-empty .title {
  display: block;
  margin-bottom: $space-medium;
  font-size: $font-large;
}
:global .content-empty .title.small {
  font-size: $font-medium;
}
:global .content-empty .message {
  display: block;
  margin-bottom: $space-large;
  font-size: $font-medium;
  color: #a2a2a2;
}
:global .content-empty .message p {
  margin-bottom: $space-medium;
}
:global .content-empty .btn-primary {
  margin-top: $space-huge;
}