:global .loading {
    display: inline-block;
    padding: 0.3rem;
    background-color: $bgd-block;
    border-radius: 50%;
    box-shadow: $box-shadow;
}

:global .loading-wrapper {
    position: fixed; z-index: $zindex-lv-1;
    left: 50%; top: 50%;
    transform: translate(-50%);
}
:global .loading-wrapper.guide {
    position: absolute;
}
:global .loading-more-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
}

:global .loading-full {
    opacity: 1;
    transition: opacity .2s;
}
:global .loading-full-effect {
    opacity: .4;
}
