:global .box-cate-parent {
    width: 9.2rem !important;
    height: 9.2rem !important;
    background-color: $bgd-block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 0.5rem;
    white-space: normal;
}
:global .box-cate-parent .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
:global .box-cate-parent .item .item-img {
    width: 5rem;
    height: 5rem;
}
:global .box-cate-parent .item .item-title {
    font-size: $font-small;
    color: $brand-desc;
    margin-top: 0.5rem;
    text-align: center;
    white-space: normal;
}

:global .box-cate-child {
    width: 11rem;
}
:global .box-cate-child .item {
    display: flex;
    align-items: center;
    height: 3.2rem;
    border-radius: 3px;
    overflow: hidden;
    background-color: green;
    &:hover,
    &:focus {
        color: $white;
        text-decoration: none;
    }
}
:global .box-cate-child .item .item-img {
    width: 3.2rem;
    height: 3.2rem;
    flex: 0 0 3rem;
    vertical-align: middle;
}
:global .box-cate-child .item .item-title {
    padding-left: $space-medium;
    padding-right: $space-medium;
    font-size: $font-small;
    color: $white;
    white-space: normal;
}
:global .box-cate-child .item.no-img {
    text-align: center;
    justify-content: center;
}
:global .box-cate-child .item.no-img .item-title {
    max-height: 3.2rem;
}