:global .search-result {
  display: block;
  padding: $space-medium $space-large;
  margin-bottom: $space-medium;
  background-color: $gainsboro;
}
:global .search-result p {
  margin: 0;
  color: $brand-desc;
}
:global .search-result strong {
  color: $brand-primary;
}