/*More effect*/
:global .more-effect {
    position: absolute;
    top: -40px; left: 0; right: 0;
    width: 100%; height: 40px;
    background: rgba(255,255,255,0);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

/*See more*/
:global .see-more {
    display: block;
    padding-top: $space-large;
    color: $sky;
    text-align: center;
    background-color: $bgd-block;
    position: relative;
}
:global .see-more.no-bgr {
    background-color: transparent;
}
:global .text-see-more {
    display: block;
    text-decoration: underline;
}
:global .icon-see-more {
    width: 1.2rem;
    height: 1.2rem;
    fill: $sky;
}