:global .senpay-widget {
  overflow: hidden;
}
:global .senpay-widget .main-feature {
  height: $space-xhuge;
  align-items: center;
  background-color: #f1faff;
}
:global .senpay-widget .icon {
  fill: $brand-tertiary;
}
:global .senpay-widget .main-feature .col-6 {
  height: 100%;
}
:global .senpay-widget .main-feature .col-6:first-child {
  padding-left: $space-large;
  border-right: $line-dotted;
}
:global .senpay-widget .title {
  padding-left: $space-medium;
  font-size: $font-medium;
  font-weight: $font-bold;
}
:global .senpay-widget .input-fake {
  display: flex;
  align-items: center;
  width: 100%;
  height: $space-huge;
  padding: 0 $space-large;
  margin: 0 $space-large;
  border: $border;
  background-color: $bgd-block;
  color: $text-color-placeholder;
  border-radius: $border-radius-medium;
}
:global .senpay-widget .other-features {
  padding: $space-medium 0;
  align-items: center;
  background-color: $bgd-block;
}
:global .senpay-widget .other-features .item {
  text-align: center;
}
:global .senpay-widget .other-features p {
  padding-top: $space-small;
  margin-bottom: 0;
}