:global .shortcut {
  text-align: center;
}
:global .shortcut .icon {  
  padding: $space-large;
  border-radius: 50%;
}
:global .shortcut .icon-wrap {
  display: inline-flex;
  padding: $space-small;
  margin-bottom: $space-large;
  background-color: $bgd-block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: $box-shadow;
}
:global .shortcut .name {
  display: block;
  text-align: center;
}

:global .link-box {
  display: inline-flex;
  align-items: center;
  height: $space-xlarge;
  font-size: $font-medium;
  padding-left: $space-medium;
  padding-right: $space-medium;
  background-color: $bgd-block;
  border: $border;
}
:global .link-box-cate {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $space-mhuge;
  padding: 0 $space-medium;
  margin-bottom: $space-medium;
  text-align: center;
  font-size: $font-medium;
  color: $white;
  background-color: $brand-primary;
  border-radius: $border-radius-medium;
}