:global .stepper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
:global .stepper .step {
  position: relative;
}
:global .stepper-4 .step {
  flex: 0 0 25%;
}
:global .stepper .wrap-icon {
  display: inline-block;
  padding: .4rem;
  margin-bottom: $space-medium;
  background-color: $brand-primary;
  border-radius: 50%;
}
:global .stepper .text {
  display: block;
  text-align: center;
  font-size: $font-small;
}
:global .stepper .icon-forward {
  position: absolute;
  left: -1.2rem;
  top: $space-small;
  transform: rotate(180deg);
}
