:global .tags {
  display: flex;
  flex-wrap: wrap;
}
:global .tag {
  border-radius: 0 0.3rem 0.3rem 0;
  display: flex;
  height: $space-huge;
  align-items: center;
  padding: 0 1rem 0 2.3rem;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  justify-content: center;
}

:global .tag::before {
  background: #fff;
  border-radius: 1rem;
  box-shadow: inset 0 0.1rem rgba(0, 0, 0, 0.25);
  content: '';
  height: 0.6rem;
  left: 1rem;
  position: absolute;
  width: 0.6rem;
  top: 1.5rem;
  z-index: $zindex-lv-1;
}

:global .tag::after {
  background: #fff;
  border-bottom: 1.9rem solid transparent !important;
  border-top: 1.8rem solid transparent !important;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1.5rem solid;
  border-left: 1.5rem solid;
}

:global .tag.default::after {
  border-left: none;
}

:global .tag.gray {
  color: black;
  background: #d8d8d8;
}

:global .tag.gray::after {
  color: black;
  border-color: #d8d8d8;
}

:global .tag.red {
  color: white;
  background: $brand-primary;
}

:global .tag.red::after {
  color: white;
  border-color: $brand-primary;
}

:global .tag.reverse {
  padding: 0 2.3rem 0 1rem;
  border-right: none;
}

:global .tag.reverse::before {
  right: 1rem;
  left: auto;
}

:global .tag.reverse::after {
  right: 0;
  left: auto;
  border-right: none;
}