:global .toast {
  position: relative;
}
:global .toast .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $space-xhuge;
  padding: 0 $space-large;
  background-color: $black;
  color: $text-color-inverse;
  font-size: $font-medium;
}
:global .toast .text {
  margin: 0;
  padding-right: $space-xlarge;
}
:global .toast .close {
  height: $space-xhuge;
  font-weight: $font-medium;
  color: $blue;
}