@import "../../styles/variables.css";
.backToTop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: $zindex-fixed;
  bottom: 7rem;
  right: $space-large;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: $box-shadow;
  border-radius: 50%;
  transition: opacity .5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}