@import "../../styles/variables.css";
@import "../CarouselCateLink/carouselCateLink.css";

.sort {
  height: $space-xhuge;
  padding: 0.8rem 0;
  margin-bottom: 0.1rem;
  text-align: center;
  background-color: $bgd-block;
  box-shadow: $box-shadow;
}
.singleItem {
  position: relative;
  padding: $space-small $space-medium;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-small;
  color: $text-color;
  font-weight: $font-bold;
  transition: color .2s ease-in-out;
  display: flex;
}
.singleItemFirst{
  padding-left: 0;
}
.singleItem:focus,
.singleItem:hover {
  text-decoration: none;
  color: $text-color;
}
:global(.active).singleItem {
  color: $brand-primary;
}
.singleItem::after {
  content: "";
  position: absolute;
  left: 50%; right: 50%;
  bottom: -0.1rem;
  height: 0.2rem;
  background: $brand-primary;
  will-change: left, right;
  transform: translateZ(0);
  transition: left .2s ease-in-out, right .2s ease-in-out;
}
:global(.active).item::after {
  left: 0;right: 0;
}

.customItem{
  width: auto !important;
  border-right: $border;
  margin: 0 !important;
  padding: 0 $space-small !important;
}