@import "../../../styles/variables.css";

.productShop {
  padding: $space-large;
  background-color: $bgd-block;
  position: relative;
}
.wrap {
  display: flex;
  align-items: center;
}
.shopLogo {
  flex: 0 0 9.6rem;
  height: 4.8rem;
  margin-right: $space-large;
  text-align: center;
  position: relative;
  border: $border;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.shopName {
  margin-bottom: $space-xmedium;
  width: 100%;
  display: block;
  padding-right: $space-xhuge;
}
.shopUytin {
  position: absolute;
  bottom: -0.6rem;
  left: 50%;
  width: 5.2rem;
  height: 1.2rem;
  transform: translateX(-50%);
}
.shopInfo {
  p {
    margin-bottom: 0.3rem;
    font-style: italic;
    color: $brand-desc;
  }
  p:first-child {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  strong {
    color: $orange;
    font-style: normal;
  }
}
.gray {
  color: $brand-desc;
}
.shopPhone {
  margin-left: auto;
}
.iconPhone {
  composes: icon-large from global;
  position: absolute;
  top: $space-large;
  right: $space-large;
  padding: $space-small;
  background-color: #eaf4f9;
  fill: #27b099;
  border-radius: 50%;
}
.lotusPoint {
  display: inline-block;
  padding-left: $space-medium;
  vertical-align: middle; 
}
.iconLotus {
  width: 1.8rem;
  height: 1.8rem;
}
.red {
  fill: $red;
}
.yellow {
  fill: $yellow;
}
.purple {
  fill: #ff00ff
}
