@import "../../../styles/sendo/variables.css";
@import "../../../styles/sendo/items/button_social_login.css";
.error{
	color: $brand-danger;
	margin-top: $space-medium;
}
.guide{
	text-align: center;
}
.sitename{
	color: rgba(229, 16, 29, 0.87);
	font-style: italic;
	text-decoration: underline;
}
.forgot{
	text-align: left;
}
.register{
	text-align: right;
}
.forgot, .register {
	color: #4a90e2;
	width: 50%;
	font-style: italic;
	text-decoration: underline;
}
.wrap{
	display: flex;
	margin-top: $space-xlarge;
}
.labelGuide{
	color: $brand-tertiary;
}

.btnWithoutLogin{
	margin-top: $space-large;
}

.checkoutWithoutLogin{
	margin-top: $space-large;
}

.lineFull{
	height: 1px;
	background-color: $ghost;
	display: block;
}

.labelGuideDisable{
	color: $brand-desc;
	font-style: italic;
	text-decoration: underline;
}

.fb {
	color: $brand-tertiary;
}

.gm {
	color: $brand-primary;
}
