@import "../../../styles/variables.css";

.filterPanel {
  padding: $space-medium $space-large;
  margin-top: $space-large;
  background-color: $bgd-block;
  box-shadow: $box-shadow;

  &.active .collapseCtrl::before {
    transform: rotate(0);
  }

  .panelTitle {
    display: flex;
    padding: $space-medium 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-large;

    .title {
      margin-bottom: 0;
      font-weight: $font-bold;
    }
    .collapseCtrl {
      position: relative;
      width: 1.5rem;
      min-height: 0.2rem;
      background-color: $gray;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1.5rem;
        min-height: 0.2rem;
        background-color: $gray;
        transition: transform .1s ease-in;
        transform: rotate(90deg);
      }
    }
  }

  table {
    thead {
      border: 1px solid $gray;
      border-bottom: none;
    }
    td {
      border: 1px solid $gray;
      color: $gray;
      padding: 10px 0;
      text-align: center;
    }
    strong {
      color: $black;
    }
  }
}
.howToMeasure {
  border-top: 1px dashed $gray;
  display: flex;
  margin: $space-large 0;
  padding-top: 12px;

  strong {
    display: block;
    margin-bottom: $space-large;
  }

  .imgContainer {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .infoContainer {
    margin-left: $space-large;
  }

  li {
    color: #646464;
    line-height: 1.4;
    list-style-position: inside;
    list-style-type: decimal;

    + li {
      margin-top: $space-xlarge;
    }
  }
  p {
    color: #646464;
    line-height: 1.4;

    + p {
      margin-top: $space-xlarge;
    }
  }
}
.note {
  margin-top: $space-medium;

  strong {
    display: block;
    margin-bottom: $space-large;
  }
  p {
    color: #646464;
    line-height: 1.4;
  }
}
