@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/stepper.css";
@import "../../../styles/sendo/items/card.css";

.userOrderStatus {
  padding-top: $space-large;
  margin-bottom: $space-large;
  :global .content {
    display: block;
    color: $text-color-inverse;
  }
}
.stepper {
  padding-top: $space-medium;
  margin-bottom: $space-xmedium;
}
.stepper {
  :global .step .wrap-icon { 
    background-color: #cc7119;
  }
  :global .active .wrap-icon,
  :global .passed .wrap-icon { 
    background-color: $white;
  }
  :global .active .icon,
  :global .passed .icon { 
    fill: $brand-secondary;
  }
  :global .step .text { 
    display: none;
  }
  :global .active .text { 
    display: block;
  }
  :global .step .icon-forward {
    fill: $white;
  }
}
.orderMessage {
  max-width: 22rem;
  padding-top: $space-medium;
  margin: 0 auto $space-large;
  text-align: center;
  strong {
    color: #f8e81c;
  }
}
.orderNote {
  padding-top: $space-large;
  margin: 0 auto $space-large;
  text-align: center;
  strong {
    color: #f8e81c;
  }
}
.cardHoriz {
  background-color: $bgd-block;
  padding: $space-medium;
  border-radius: $border-radius-medium;
}

.rating {
  display: block;
  padding-top: $space-large;
  text-align: center;
}
.iconStar {
  composes: icon-large from global;
  margin-left: $space-medium;
  margin-right: $space-medium;
  fill: $white;
}