@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/card.css";
@import "../../../styles/sendo/items/chooselabel.css";
.shopInfo {
  display: flex;
  align-items: center;
  height: $space-xhuge;
  padding-left: $space-large;
  padding-right: $space-large;
  background-color: #fef9ef;
  border-bottom: $border;
  :global .radio-face {
    margin-right: $space-large;
  }
}
.shopAvatar {
  composes: icon-medium from global;
  position: relative;
  display: inline-block;
  margin-right: $space-medium;
  border: $border;
  border-radius: 50%;
  overflow: hidden;
  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2.4rem;
  }
}
.shopName {
  composes: text-overflow from global;
  composes: heading-large from global;
}
.iconShopUyTin {
  display: block;
  width: 4.5rem;
  height: 1.2rem;
}
.cartAmount {
  :global .text-primary {
    display: block;
    font-size: $font-large;
    text-transform: uppercase;
  }
}
.footer {
  padding-left: $space-large;
  padding-right: $space-large;
  background-color: $bgd-block;
  p {
    margin-bottom: $space-medium;
    &:last-child {
      margin-bottom: 0;
    }
  }
  :global .btn-primary {
    padding-left: $space-xlarge;
    padding-right: $space-xlarge; 
  }
}
.cartTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $space-large;
  padding-bottom: $space-large;
  border-top: $border;
}
.shopPromotion {
  padding-top: $space-large;
  padding-bottom: $space-large;
  border-top: $border;  
}
.cartItemWrapper {
  padding-top: $space-large;
  padding-left: $space-large;
  padding-right: $space-large;
  background-color: $bgd-block;
  display: flex;
}
.cartItemWrapper {
  :global .checkbox-face {
    margin-top: $space-large;
    margin-right: $space-large;
  }
}
.cartItem {
  width: 100%;
  :global .card-horiz {
    margin-bottom: $space-medium;
    background-color: $bgd-block;
  }
  :global .card-horiz .card-name {
    min-height: 3.2rem;
  }
  &.outOfStock {
    position: relative;
    pointer-events: none;
    &::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-color: rgba(255,255,255,.7);
    }
  }
  .imageWrap {
    position: relative;
    margin-right: $space-large; 
    img {
      margin-right: 0;
    }
  }
  .imgMask {
    position: absolute;
    z-index: $zindex-lv-1;
    left: 0; right: 0;
    display: flex;
    align-items: center;
    top: $space-medium; bottom: $space-medium;
    padding: 0 $space-large;
    color: $text-color-inverse;
    text-align: center;
    background-color: rgba(0,0,0,.5);
  }
}
.attrs {
  display: flex;
  vertical-align: middle;
  padding-bottom: $space-medium;
}
.options {
  display: flex;  
  .option {
    padding-left: $space-large;
    padding-right: $space-large;
    border-left: $border;
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
  }
}
.quantity {
  margin-left: auto;
  .text {
    margin-right: $space-medium;
  }
}

.bonusInfo {
  strong:nth-child(1) {
    color: $brand-quaternary;
  }
  strong:nth-child(2) {
    color: $brand-primary;
  }
}