/*block*/
:global .box-toggle {
  margin-left: $space-large;
  margin-right: $space-large;
}
:global .box-toggle .inner {
  position: relative;
  padding: $space-medium;
  background-color: $brand-secondary;
  border-radius: $border-radius-medium;
  box-shadow: $box-shadow;
  color: $text-color-inverse;
}

:global .box-toggle .btn-close {
  position: absolute; z-index: $zindex-lv-1;
  right: -$space-large;
  top: -$space-large;
  background-color: $black;
  border-radius: 50%;
}
:global .box-toggle .btn-close::before {
  content: "";
  position: absolute; z-index: $zindex-negative;
  left: 3px; top: 3px; right: 3px; bottom: 3px;
  background-color: $white;
  border-radius: 50%;
}
:global .box-toggle .btn-close .icon {
  fill: $black;
}
:global .block-title {
  margin: $space-large $space-medium;
  font-weight: 500;
  text-transform: uppercase;
  font-size: $font-small;
}
:global .wrap-block {
  padding-left: .6rem;
  padding-right: .6rem;
}
:global .list-category-vertical {
  font-size: $font-medium;
}
:global .list-category-vertical .li-parent .title {
  height: $space-xhuge;
  line-height: $space-xhuge;
  font-weight: $font-normal;
  font-size: $font-medium;
  border-bottom: $border;
}
:global .list-category-vertical .ul-child {
  padding-left: $space-xlarge;
  border-bottom: inherit;
}
:global .list-category-vertical .ul-child .li-child {
  border-bottom: $border;
}
:global .list-category-vertical .ul-child .li-child a {
  color: #a2a2a2;
  display: flex;
  height: $space-xhuge;
  align-items: center;
  justify-content: space-between;
}
:global .list-category-vertical .li-parent.open .title {
  border: none;
}
:global .list-category-vertical .li-parent.open .ul-child .li-child:first-child {
  border-top: $border;
}
:global .custom-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: $space-medium;
  padding-right: $space-medium;
  text-align: center;
  background-color: $bgd-block;
  box-shadow: $box-shadow;
}
:global .custom-tab .item {
  position: relative;
  display: block;
  padding: $space-large $space-medium;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-small;
  color: $text-color;
  font-weight: $font-bold;
  transition: color .2s ease-in-out;
}
:global .custom-tab .item:focus,
:global .custom-tab .item:hover {
  text-decoration: none;
  color: $text-color;
}
:global .custom-tab .item.active {
  color: $brand-primary;
}
:global .custom-tab .item::after {
  content: "";
  position: absolute;
  left: 50%; right: 50%;
  bottom: -1px;
  height: 2px;
  background: $brand-primary;
  will-change: left, right;
  transform: translateZ(0);
  transition: left .2s ease-in-out, right .2s ease-in-out;
}
:global .custom-tab .item.active::after {
  left: 0;right: 0;
}

:global .custom-tab.large .item {
  padding: 1.6rem $space-medium;
  font-size: $font-medium;
}

:global .custom-tab.item-center .item {
  flex: 1 0 0;
}

:global .custom-tab.normal .item {
  font-weight: normal;
  text-transform: none;
}

:global .wrapper-shop {
  padding: $space-large;
}

:global .wrapper-shop .card-horiz {
  padding: $space-medium;
}