:global .border {
  border: $border;
}
:global .border.active {
  border-color: $brand-primary;;
}
:global .line-solid {
  border-bottom: $line-solid;
}

:global .line-dotted {
  border-bottom: $line-dotted;
}

:global .box-shadow {
  box-shadow: $box-shadow;
}
:global .box-shadow-reverse {
  box-shadow: $box-shadow-reverse;
}