:global(.btn-primary) {
  display: inline-block;
  padding: $space-medium $space-large;
  text-align: center;
  color: $white;
  background-color: $brand-primary;
  font-size: $font-large;
  font-weight: $font-bold;
  border-radius: $border-radius-medium;
}
:global(.btn-primary.btn-disabled) {
  background-color: $brand-desc;
}
:global(.btn-primary.btn-block) {
  display: block;
  width: 100%;
}
:global(.btn-secondary) {
  display: inline-block;
  padding: $space-medium $space-large;
  text-align: center;
  color: $brand-primary;
  background-color: $bgd-block;
  font-size: $font-large;
  font-weight: $font-bold;
  border: 1px solid $brand-primary;
  border-radius: $border-radius-medium;
}
:global .btn-round {
  display: inline-flex;
  height: $space-huge;
  align-items: center;
  justify-content: space-between;
  padding-left: $space-xlarge;
  padding-right: $space-xlarge;
  background-color: $white;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
:global(.btn-icon-small) {
  line-height: 0;
  font-size: 1rem;
  padding: $space-medium;
  overflow: hidden;
}

:global(.btn-icon) {
  line-height: 0;
  font-size: 1rem;
  padding: $space-large;
  overflow: hidden;
}

:global .btn-close-menu {
  position: absolute;
  z-index: $zindex-lv-1;
  right: -$space-xhuge;
}
:global .btn-close-menu .icon {
  fill: $text-color-inverse;
  padding: $space-small;
  background-color: $black;
  border-radius: 50%;
}
:global .resend-button {
  width: $space-huge;
  height: $space-huge;
  border-radius: 50%;
  border: 0.1rem solid white;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  background-color: #97c4f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
:global .resend-button svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: white;
}
:global .resend-button.disable {
  background-color: $ghost;
  color: white;
  box-shadow: none;
}
:global .btn-round.orange {
  background-color:  #f5a623;
  color: white;
  font-size: $font-medium;
}
:global .btn-round.blue-border {
  border: 1px solid $brand-tertiary;
  color: $brand-tertiary;
  font-size: $font-medium;
  box-shadow: none;
}
:global .btn-icon-text {
  display: inline-block;
  text-align: center;
}
:global .btn-icon-text .text {
  display: block;
  padding-top: $space-small;
  font-size: $font-small;
  color: #a2a2a2;
}