:global .custom-select {
  position: relative;
  display: inline-block;
  
}
:global .selectbox-face {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: $space-xlarge;
  padding-left: $space-large;
  padding-right: $space-xlarge;
  border: $border;
  border-radius: $border-radius-medium;
}
:global .selectbox-face::after {
  content: "";
  position: absolute;
  top: 50%; margin-top: -.3rem;
  right: $space-medium;
  border: .6rem solid transparent;
  border-top-color: $black;
}
:global .custom-select select {
  position: absolute; z-index: $zindex-lv-1;
  top: 0; left: 0;
  right: 0; bottom: 0;
  width: 100%;
  opacity: 0;
}

:global .radio-face {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 2px solid #888a8e;
  border-radius: 50%;
}
:global .radio-face::before {
  content: "";
  position: absolute;
  left: 2px; top: 2px; bottom: 2px; right: 2px;
  background-color: transparent;
  transition: background-color $transition-effect;
  border-radius: 50%;
}
:global .radio-face.selected::before {
  background-color: $brand-primary;
}

:global .checkbox-face {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 2px solid #888a8e;
  border-radius: 3px;
}
:global .checkbox-face .checkbox-face-icon {
  opacity: 0;
  left: 0; top: 0;
  width: 100%; height: 100%;
  fill: $text-color-inverse;
}
:global .checkbox-face.selected {
  border: 2px solid $brand-primary;
  background-color: $brand-primary;
}
:global .checkbox-face.selected .checkbox-face-icon {
  opacity: 1;
}

:global .input-standard{
  padding-top: $space-xmedium;
  padding-bottom: $space-xmedium;
  border: $border-secondary;
  height: $space-huge;
}

:global .input-standard.error {
  border: 1px solid $brand-primary;
  background: #fffeec;
}

:global .form-group-custom {
  position: relative;
}

:global .form-group-custom .icon-show-password {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  z-index: $zindex-lv-1;
}

:global .input-standard::-webkit-input-placeholder {
  color: $text-color-placeholder;
}
/*:global .input-standard:focus{*/
  /*background-color: $bgd-block;*/
  /*border: solid 1px #979797;*/
/*}*/

:global .checkbox-custom {
  display: flex;
  align-items: center;
  padding: $space-medium;
}
:global .no-padding {
  padding: 0;
}

:global .input-cb-custom {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
:global .box-check {
  position: relative;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  border: $border;
  border-radius: 3px;
  background-color: $bgd-block;
  transition: background-color .15s ease-in, border-color .15s ease-in;
}
:global .icon-check {
  width: 2.2rem;
  height: 2.2rem;
  opacity: 0;
  fill: $bgd-block;
  transition: opacity .15s ease-in;
}
:global .checked .box-check {
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
}
:global .checked .icon-check {
  opacity: 1;
}

:global .checked .box-check-green {
  background-color: $brand-quaternary;
  border: 1px solid $brand-quaternary;
}

:global(.formInput) {
  height: $space-xlarge;
  width: 100%;
  border-radius: $border-radius-medium;
  border: 0.1rem solid #a2a2a2;
  margin: $space-medium 0;
  padding: 0 $space-medium;
}
:global(.formError) {
  color: $red;
}
:global(.formLinkAction) {
  text-align: center;
}
:global .form-error{
  color: $brand-primary;
  margin: $space-large 0;
  font-style: italic;
  font-size: $font-small;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
:global .form-login-label {
  text-transform: uppercase;
  color: $text-color;
  font-size: $font-small;
}
:global .block-form{
  margin-top: $space-xlarge;
}
