
:global .header-height-medium {
    height: $space-xhuge;
}
:global .header-height-large {
    height: calc($space-xhuge*2 + $space-medium);
}
:global .header-brand {
    color: $text-color-inverse;
    background-color: $brand-primary;
}
:global .header,
:global .header-2,
:global .header-brand-logo,
:global .header-brand-search {
    height: $space-xhuge;
    display: flex;
    align-items: center;
}
:global .header-brand-search {
    padding-left: $space-large;
    padding-right: $space-large;
}
:global .header-brand-logo {
    padding-right: $space-medium;
}
:global .header-brand-logo .btn-menu-main {
    margin-right: $space-xlarge;
}
:global .header-brand-logo .logo {
    height: 3.2rem;
    margin-right: auto;
    margin-left: auto;
}
:global .header-brand-logo .btn-icon-small {
    padding-top: $space-large;
    padding-bottom: $space-large;
}

:global .search-bar-fake {
    display: flex;
    align-items: center;
    width: 100%;
    height: $space-huge;
    background-color: $bgd-block;
    border-radius: $border-radius-medium;
}
:global .header-brand-search .search-bar-fake {
    padding: 0 $space-large;
}
:global .search-bar-fake .text {
    color: $text-color-placeholder;
    margin-right: auto;
    font-size: $font-medium;
    font-weight: $font-normal;
}

:global .header {
    justify-content: space-between;
    font-size: $font-large;
    font-weight: $font-bold;
    color: $text-color-inverse;
    background-color: $brand-primary;
    /* border-bottom: $line-solid; */
}
:global .header .btn-icon,
:global .header .btn-icon-small {
    flex: 0 0 auto;
}
:global .header .title-page {
    margin-right: auto;
}
:global .header .title-sub-page {
    padding-left: $space-medium;
    font-size: $font-medium;
}

:global .header .btn-back-cate {
    display: flex;
    align-items: center;
    max-width: 11rem;
    color: #f8e81c;
    font-size: $font-medium;
    font-weight: $font-normal;
    flex: 0 0 11rem;
    max-width: 11rem;
}
:global .header .btn-back-cate .icon {
    fill: #f8e81c;
    flex: 0 0 2.4rem;
    max-width: 2.4rem
}
:global .header .group-btn {
    display: flex;
    flex: 0 0 11rem;
    max-width: 11rem;
    margin-left: auto;
}
:global .header .group-btn .btn-icon-small:first-child {
    margin-left: auto;
}
:global .header.header-detail .title-page {
    width: 100%;
    text-align: center;
}
:global .circle-number-outer {
    position: relative
}
:global .circle-number-outer .circle-number {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    min-width: 1.8rem;
    padding: 0 $space-small;
    font-size: $font-small;
    background: $brand-secondary;
    border-radius: 1.8rem;
    color: $text-color-inverse;
}
:global .header-brand .circle-number {
    top: .3rem;
    right: .1rem;
}
:global .header-tertiary .circle-number {
    top: .3rem;
    right: .7rem;
}
:global .header-detail .btn-icon-back {
    flex: 0 0 $space-xhuge;
}
:global .header-detail .btn-back-cate > span {
    line-height: 2.4rem;
}