/*style icons*/
:global(.icon) {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  vertical-align: middle;
  fill: #888a8e;
}
:global(.icon-active) {
  fill: $brand-primary;
}
:global(.icon-inverse) {
  fill: $white;
}
:global(.icon-small) {
  width: 1.2rem;
  height: 1.2rem;
}
:global(.icon-medium) {
  width: 2.4rem;
  height: 2.4rem;
}
:global(.icon-large) {
  width: 3.6rem;
  height: 3.6rem;
}
:global(.icon-xlarge) {
  width: 4.8rem;
  height: 4.8rem;
}
:global .icon-delivery {
  fill: $green;
}
:global .icon-free-ship {
  width: 3.6rem;
  height: 1.8rem;
  fill: #00a57b;
}
:global .icon-revert {
  fill: $orange;
}
:global .icon-install {
  fill: $blue;
}
:global .icon-coin {
  fill: $yellow;
}