:global .image-square {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 100%;
  margin: 0;
}
:global .image-square > img {
  position: absolute;
  left: 50%; top: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  border-radius: .4rem;
}