:global .modal-full {
  height: 100%;
}
:global .modal-full .modal-dialog {
  height: 100%;
  max-width: none;
  margin: 0;
}
:global .modal-full .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: $bgd-primary;
  overflow: hidden;
}
:global .modal-full .modal-content-inner {
  height: 100%;
  padding-top: $space-xhuge;
}
:global .modal-full .modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: $zindex-lv-1;
  left: 0; top: 0;
  width: 100%;
  height: $space-xhuge;
  padding: 0 $space-medium;
  background-color: $bgd-block;
  box-shadow: $box-shadow;
}
:global .modal-full .modal-header .title {
  font-weight: $font-bold;
  font-size: $font-large;
}
:global .modal-full .modal-header .btn-close {
  margin-right: $space-medium;
}

:global .modal-scroll-container {
  height: 100%;
  padding-top: $space-large;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


/*right-to-left*/
:global .modal.modal-rtl .modal-dialog {
  opacity: 1;
  transform: translate(100%, 0);
}
:global .modal.modal-rtl.show .modal-dialog {
  transform: translate(0, 0);
}