:global .modal.modal-left-menu .modal-open {
  height: 100vh;
}
:global .modal.modal-left-menu .modal-content {
  border: none;
  border-radius: 0;
  height: 100%;
}

:global .modal.modal-left-menu .modal-dialog {
  position: fixed;
  margin: auto;
  width: 85%;
  max-width: 32.5rem;
  height: 100%;
  transform: translateZ(0);
}

:global .modal.modal-left-menu .modal-body {
  padding: 0;
}

/*Left*/
:global .modal.modal-left-menu .modal-dialog {
  left: 0;
  transform: translate3d(-100%, 0px, 0px);
  transition: transform 0.25s ease-in;
  will-change: transform;
}

:global .modal.modal-left-menu.show .modal-dialog {
  transform: translate3d(0px, 0px, 0px);
}