:global(.panel) {
  margin-bottom: $space-large;
  background-color: $white;
  box-shadow: $box-shadow;
}
:global(.panel-heading) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: $space-xhuge;
  padding: 0 $space-large;
  font-size: $font-large;
  border-bottom: $line-solid;
  background-color: $white;
}

:global .panel-heading.event {
  height: $space-huge;
  line-height: $space-huge;
  padding: 0 $space-large;
  position: relative;
  background-color: #fff;
}
:global .panel .no-shadow {
  box-shadow: none;
}

:global .panel-heading.event .title {
  color: $brand-primary;
  text-transform: uppercase;
  font-size: $font-small;
  font-weight: $font-bold;
}

:global .panel-heading.event::before {
  content: ' ';
  background-color: $brand-primary;
  height: inherit;
  width: 0.4rem;
  position: absolute;
  left: 0;
  top: 0;
}

:global .panel .no-border {
  border: none;
}

:global(.panel-content) {
  padding: $space-large;
}

:global .no-padding-bottom {
  padding-bottom: 0 !important;
}

:global .panel.no-margin-bottom {
  margin-bottom: 0;
}

:global .panel.round {
  border-radius: $border-radius-medium;
  overflow: hidden;
}

:global .panel-heading.custom-1 {
  border-bottom: $border;
  padding-left: 0;
  padding-right: 0;
  margin: 0 $space-large;
  font-size: $font-medium;
}

:global .panel-heading.custom-1:last-child {
  border-bottom: none;
}

:global .panel-heading.custom-1 .content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}