:global .slick-dots li {
  display: inline-block;
}
:global .slick-dots li button {
  position: relative;
  display: inline-block;
  width: 1rem; height: 1rem;
  text-indent: 999999px;
  font-size: 0;
  color: transparent;
  border: $line-solid;
  border-radius: 50%;
}
:global .slick-dots button::before {
  content: "";
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  background-color: transparent;
  border-radius: 50%;
  transition: $transition-effect;
}
:global .slick-dots .slick-active button::before {
  background-color: $brand-primary;
}


:global .swiper-lazy-preloader {
  width: $space-xhuge;
  height: $space-xhuge;
  margin: 0;
  transform: translate(-50%, -50%);
  animation: none !important;
}
:global .swiper-lazy-preloader::before,
:global .swiper-lazy-preloader::after {
   content: none;
}

:global .swiper-pagination-bullet {
  position: relative;
  display: inline-block;
  width: 1rem; height: 1rem;
  text-indent: 999999px;
  font-size: 0;
  color: transparent;
  border: $line-solid;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
}
:global .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  left: 1px; right: 1px; top: 1px; bottom: 1px;
  background-color: transparent;
  border-radius: 50%;
  transition: $transition-effect;
}
:global .swiper-pagination-bullet-active::before {
  background-color: $brand-primary;
}
:global .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 $space-small;
}