
:global .uppercase {
  text-transform: uppercase;
}
:global .heading-large {
  font-size: $font-large;
  font-weight: $font-bold;
}
:global .heading-medium {
  font-size: $font-medium;
  font-weight: $font-bold;
}
:global .heading-small {
  font-size: $font-small;
  font-weight: $font-bold;
}
:global .text-info {
  color: $brand-secondary;
}
:global .text-link {
  font-size: $font-medium;
  font-weight: $font-normal;
  color: $brand-tertiary;
  text-decoration: underline;
}

:global .text-primary {
  color: $brand-primary;
}
:global .text-main {
  color: $text-color;
}
:global .text-normal {
  color: $black;
  font-size: $font-medium;
}
:global .text-desc {
  color: $brand-desc;
}
:global .text-shipping {
  color: $brand-quaternary;
}
:global .text-inverse {
  color: $text-color-inverse;
}
:global .text-small {
  font-size: $font-small;
  color: $brand-desc;
}
:global .text-medium {
  font-size: $font-medium !important;
}
:global .text-large {
  font-size: $font-large !important;
}
:global .text-with-circle {
  position: relative;
  font-weight: $font-normal;
}
:global .text-with-circle strong {
  font-weight: $font-bold;
  color: $sky;
  text-decoration: underline;
  font-size: $font-large;
  position: relative;
  left: 0;
  top: 0;
  z-index: $zindex-lv-3;
}
:global .text-with-circle::before {
  content: "";
  position: absolute;
  left: 0.6rem;
  top: -0.4rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e6effb;
  border-radius: 50%;
  z-index: $zindex-lv-2;
}
:global .text-with-circle::after {
  content: "";
  position: absolute;
  top: -0.9rem;
  left: 0.1rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #f2f7fd;
  border-radius: 50%;
  z-index: $zindex-lv-1;
}

:global .text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


:global .truncate-medium-2 {
  max-height: 3.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off*/
  -webkit-box-orient: vertical;
  /* autoprefixer: on*/
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3;
}

:global .truncate-small-2 {
  max-height: 2.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off*/
  -webkit-box-orient: vertical;
  /* autoprefixer: on*/

  text-overflow: ellipsis;
  overflow: hidden;
}
:global .truncate-small-3 {
  max-height: 3.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off*/
  -webkit-box-orient: vertical;
  /* autoprefixer: on*/

  text-overflow: ellipsis;
  overflow: hidden;
}
