@import "./variables.css";

:global .fixed {
  position: fixed !important;
}
:global body.fixed {
  width: 100%;
  height: 100%;
}
/*Display*/
:global(.flex-vertical-middle) {
  display: flex;
  align-items: center;
}
:global(.flex-justify-between) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:global(.flex-justify-center) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global .hidden, 
:global .hide {
  display: none !important;
}
:global .square {
  display: block;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

:global .text-center {text-align: center}
:global .text-left {text-align: left}
:global .text-right {text-align: right}
/*space utilities*/
/*margin left*/
:global .m-l-small { margin-left: $space-small }
:global .m-l-medium { margin-left: $space-medium }
:global .m-l-large { margin-left: $space-large }

/*margin right*/
:global .m-r-small { margin-right: $space-small }
:global .m-r-medium { margin-right: $space-medium }
:global .m-r-large { margin-right: $space-large }

/*margin top*/
:global .m-t-small { margin-top: $space-small }
:global .m-t-medium { margin-top: $space-medium }
:global .m-t-large { margin-top: $space-large}

/*margin bottom*/
:global .m-b-small { margin-bottom: $space-small }
:global .m-b-medium { margin-bottom: $space-medium }
:global .m-b-large { margin-bottom: $space-large}

/*padding left*/
:global .p-l-small { padding-left: $space-small }
:global .p-l-medium { padding-left: $space-medium }
:global .p-l-large { padding-left: $space-large }

/*padding right*/
:global .p-r-small { padding-right: $space-small }
:global .p-r-medium { padding-right: $space-medium }
:global .p-r-large { padding-right: $space-large }

/*padding top*/
:global .p-t-small { padding-top: $space-small }
:global .p-t-medium { padding-top: $space-medium }
:global .p-t-large { padding-top: $space-large}

/*padding bottom*/
:global .p-b-small { padding-bottom: $space-small }
:global .p-b-medium { padding-bottom: $space-medium }
:global .p-b-large { padding-bottom: $space-large}


:global .effect-1 {
  animation: timeline;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px auto;
}

@keyframes :global(timeline) {
  0% {
    background-position: -350px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

:global(.loadingMore) {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 8rem;
}

:global .priceOld {
  font-size: $font-small;
  color: $brand-desc;
  font-style: italic;
  text-decoration: line-through;
}
.popoverHeader {
  display: flex;
  align-items: center;
  height: 4.8rem;
  padding: 0 $space-large;
  font-size: $font-large;
  font-weight: $font-bold;
}
.popoverFooter {
  display: flex;
  align-items: center;
  height: 4.8rem;
  padding: 0 $space-large;

}
.popoverButtonClose {
  margin-left: auto;
  color: #f2a01f;
  font-size: $font-large;
  font-weight: $font-bold;
}
