@import "../../styles/variables.css";
@import "../../styles/sendo/modal.css";
.modalDialog {
  margin: 0;
  border: none;
  max-width: none;
}

.modalContent {
  background-color: $bgd-primary;
  :global .panel-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  :global .panel-heading {
    height: $space-xhuge;
  }
}

.container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  /*padding-top: 4.8rem;*/
}

.inner {
  height: calc(100% + 4px);
}

.header {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  background-color: $bgd-block;
  height: $space-xhuge;
  margin-bottom: $space-large;
  /*position: absolute;*/
  /*z-index: 1;*/
  /*left: 0;*/
  /*top: 0;*/
  /*width: 100%;*/
}

.form {
  width: 100%;
  height: 100%;
}

.recentKeywords {
  display: flex;
  align-items: center;
  :global .icon {
    margin-right: $space-medium;
  }
}

.input {
  width: 100%;
  height: 100%;
  padding-left: $space-large;
  padding-right: $space-large;
  text-align: left;
  outline: none;
  border: none;
}

.item {
  border-bottom: $line-solid;
  &:last-child {
    border-bottom: none;
  }
  div {
    display: inline-block;
    height: $space-xhuge;
    line-height: $space-xhuge;
    vertical-align: middle;
    width: 100%;
    > span {
      display: inline;
      color: #828282;
    }
  }
}

:global(.panel-content).shopPanel {
  padding-right: 0;
  padding-bottom: 0;
  padding-top: $space-large;
}

.categoryHighlight {
  color: $blue-lite !important;
}

.tab {
  display: inline-flex;
  align-items: center;
  height: $space-xxlarge;
  margin-right: $space-large;
  margin-bottom: $space-large;
  padding-left: $space-medium;
  padding-right: $space-large;
  color: #535353;
  background-color: #e0e0e0;
  border-radius: 10rem;
  :global .icon {
     margin-right: $space-medium;
   }
}
.tabCate {
  display: inline-flex;
  align-items: center;
  height: $space-xxlarge;
  padding: $space-medium;
  color: $white;
  background-color: $red;
  white-space: nowrap;
  border-radius: 10rem;
  margin-left: 1.2rem;
  &:local(.disabled) {
    color: #a2a2a2;
    background-color: #efefef;
    border: dashed 1px;

    :global .btnIcon {
      color: $gray;
      padding: 0 $space-large;
    }
  }
  :global .icon {
    fill: $white;
  }
  span {
    margin-right: $space-medium;
    margin-left: $space-medium;
  }
}

.noIcon {
  padding-left: $space-large;
}

.highlight {
  color: $black !important;
}
.loading {
  margin-bottom: $space-large;
  text-align: center;
}
.loading p {
  padding-bottom: 1.2rem;
}