.stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalContainer {
  position: fixed;
  z-index: $zindex-fixed;
  composes: stretch;
}

.modalBackdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  composes: stretch;
}

.modalContent {
  background: white;
  position: relative;
  padding: 20px;
}