@import "../../styles/sendo/items/loading.css";
.loader {
    display: block;
    text-indent: -9999rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: $brand-primary;
    background: linear-gradient(to right, $brand-primary 10%, rgba(229,16,29, 0) 42%);
    position: relative;
    animation: load3 1s infinite linear;
    transform: translateZ(0);
}
.small-loading .loader {
    width: 1.5rem;
    height: 1.5rem;
}
.loader:before {
    width: 50%;
    height: 50%;
    background: $brand-primary;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: $bgd-block;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}