@import "../../styles/variables.css";
@import "./../../styles/sendo/items/navigation_category.css";

.carousel {
  padding-top: $space-small;
  padding-bottom: $space-medium;
}

.cateItem {
  display: flex;
  align-items: center;
  height: 3.2rem;
  border-radius: 3px;
  overflow: hidden;
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}
.noImage {
  text-align: center;
}
.cateItem.noImage {
  justify-content: center;
}
.noImage .name {
  max-height: 3.2rem;
}
.img {  
  width: 3.2rem;
  height: 3.2rem;
  flex: 0 0 3rem;
  vertical-align: middle;
}
.name {
  padding-left: $space-medium;
  padding-right: $space-medium;
  font-size: $font-small;
  color: $white;
  white-space: normal;
  max-height: 2.6rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off*/
  -webkit-box-orient: vertical;
  /* autoprefixer: on*/
  text-overflow: ellipsis;
  overflow: hidden;
}
.customItem {
  width: 11rem;
}

.activeCover{
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  border-top-left-radius: $border-radius-medium;
  border-bottom-left-radius: $border-radius-medium;
}

:global .iconActiveCategory
{
  fill: #8dc63f !important;
}

.heading {
  padding: $space-large $space-medium;
  text-transform: uppercase;
  color: black;
}