@import "../../styles/variables.css";

.carousel {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.inner {
  display: inline-block;
  padding: 2px $space-medium;
  white-space: nowrap;
  vertical-align: top;
  font-size: 0;
}
.item {
  display: inline-block;
  width: 28vw;
  margin-right: $space-medium;
  vertical-align: top;
}
.item:last-child {
  margin-right: 0;
}