@import "../../styles/sendo/variables.css";
@import "../../styles/sendo/block.css";

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: $space-medium;
  padding-right: $space-medium;
  margin-bottom: 1px;
  text-align: center;
  background-color: $bgd-block;
  box-shadow: $box-shadow;
}
.item {
  position: relative;
  padding: $space-large $space-medium;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-small;
  color: $text-color;
  font-weight: $font-bold;
  transition: color .2s ease-in-out
}
.item:focus,
.item:hover {
  text-decoration: none;
  color: $text-color;
}
:global(.active).item {  
  color: $brand-primary;
}
.item::after {
  content: "";
  position: absolute;
  left: 50%; right: 50%;
  bottom: -1px;
  height: 2px;
  background: $brand-primary;
  will-change: left, right;
  transform: translateZ(0);
  transition: left .2s ease-in-out, right .2s ease-in-out;
}
:global(.active).item::after {
  left: 0;right: 0;
}
.sortTabs {
  .itemWrap {
    width: 25vw;
  }
}
