@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/button_category_accordion.css";
@import "../../../styles/sendo/items/shortcut.css";
.allCateAccordion {
  padding: $space-large;
}
.cateBox {
  position: relative;
  height: 0;
  padding-bottom: 70%;
  border: 1px solid $border-secondary;
  margin-bottom: $space-medium;
  text-align: center;
  transition: border-color $transition-effect;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute; z-index: $zindex-lv-1;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: transparent;
    transition: background-color $transition-effect;
  }
  .cateTitle {
    position: absolute;
    z-index: $zindex-lv-1;
    left: 0;
    bottom: $space-medium;
    width: 100%;
    font-size: $font-medium;
    font-weight: $font-normal;
    transition: color $transition-effect;
    a,
    a:hover,
    a:focus {
      color: $text-color;
      text-decoration: none;
    }
  }
  &.active {
    border-color: $brand-primary;
    &::before {
      background-color: rgba(0, 0, 0, .4);
    }
    .cateTitle {
      color: $text-color-inverse;
      a,
      a:hover,
      a:focus {
        color: $text-color-inverse;
        text-decoration: none;
      }
    }
  }
}
.groupParents {
  display: flex;
  margin-left: -$space-small;
  margin-right: -$space-small;
  .item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: $space-small;
    padding-right: $space-small;
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    transform: translate(-50%,-50%);
  }
}
.groupChild {
  :global .link-box-cate {
    background-color: #e8e8e8;
    color: $gray;
    border: $border;
  }
  :global .link-box-cate-small-font {
    font-size: $font-small;
  }
}
.collapseInner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$space-small;
  margin-right: -$space-small;
  margin-bottom: $space-medium;
  .item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: $space-small;
    padding-right: $space-small;
  }
}
