@import "../../../styles/sendo/variables.css";
.form {
	font-size: $font-medium;
	:global(.input) {
		height: $space-xlarge;
		width: 100%;
		border-radius: $border-radius-medium;
		border: 1px solid #a2a2a2;
		margin: $space-large 0;
		padding: 0 $space-medium;
	}
	:global(.error) {
		color: $brand-primary;
	}
}
.brand {
  color: $brand-primary;
}
.options{
  margin: $space-large 0;
}
.link{
	color: $brand-tertiary;
}
.action{
  text-align: center;
	margin-top: $space-xlarge;
  button {
		font-weight: $font-bold;
		color: $brand-tertiary;
  }
}
.disabled {
  color: $text-color-placeholder;
}