.bannerEvent {
    padding: 0.6rem;
    background: url('sendo-web-sdk/images/default.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 36px 30px;
    min-width: 3.6rem;
    min-height: 9.2rem;
    margin-bottom: .6rem;
}
.bannerEventImg{
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}