@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/card.css";

.boxImage {
  display: flex;
  margin-bottom: $space-medium;
  border-bottom: $border;
  :global .card-cate {
    border: none;
  }
  .sub :global .card-cate {
    border-left: $border;
  } 
  .sub :global .card-cate:first-child {
    border-bottom: $border;
  }
}
.main {
  flex: 0 0 66.6666%;
}
.sub {
  flex: 0 0 33.3334%;
}
.linkCates {
  padding: $space-medium $space-large;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  :global .link-box {
    display: inline-block;
    padding: $space-small;
    flex: 0 0 32%;
    margin-bottom: $space-medium;
    text-align: center;
  }
}