.pageLoading {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: $zindex-highest;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  transition: opacity $transition-effect;
  &.open {
    opacity: 1;
    visibility: visible;
    transition: opacity $transition-effect;
  }
}