@import "../../../styles/variables.css";
.menuListCategory {
  padding: 0 $space-large 9.6rem $space-large;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  transition: height .15s ease-in;
}