.ripple {
  animation: rippleEffect .25s ease-out;
  background: rgba(0, 0, 0, 0.2);;
  border-radius: 100%;
  position: absolute;
}
.overflow {
  position: relative;
  overflow: hidden;
}

@keyframes rippleEffect {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}