.modalBottom {  
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  :global(.modal-content) {
    background: $bgd-primary;
    border: none;
    border-radius: 0;
    height: 100%;
    p {
      margin-bottom: 0;
    }
  }
  :global(.modal-body) {
    padding: 0;
  }
  @media (min-width: 576px) {
    :global(.modal-dialog)& {
      max-width: none;
    }
  }
}

:global(.modal.fade .modal-dialog) {
  &.modalBottom {
    opacity: 1;
    transform: translate(0, 100%);
  }
}
:global(.modal.fade.show .modal-dialog) {
  &.modalBottom {
    transform: translate(0, 0);
  }
}

.headingTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $space-large;
  height: $space-xhuge;
  margin-bottom: $space-large;
  font-size: $font-large;
  background: $bgd-block;
  box-shadow: $box-shadow;
}
.quit {
  width: $space-xlarge;
  height: $space-xlarge;
  text-align: center;
  z-index: $zindex-lv-1;
}
