@import "../../../styles/variables.css";

.chooseLabel {
  display: block;
  padding: $space-medium $space-small;
  margin-bottom: $space-medium;
  text-align: center;
  background-color: #f6f7f9;
  border: $border;
  border-radius: $space-small;
  text-transform: uppercase;
  transition: background-color .15s ease-in, border-color .15s ease-in, color .15s ease-in;
}
.selected {
  border: 1px solid $brand-primary;
  background-color: $brand-primary;
  color: $text-color-inverse;
}
.inputGroupPrice {
  padding-top: $space-large;
  margin-bottom: $space-large;
}
.inputGroupPrice .text {
  align-self: center;
  text-align: center;
}
.inputPrice {
  display: block;
  width: 100%;
  border: $border;
  padding: $space-medium $space-small;
  text-align: center;
  border-radius: $space-small;
}
.inputPrice:focus {
  outline: none;
}