@import "../../../styles/variables.css";

:global .more-nav-vert + .modal-backdrop {
  opacity: 0;
}
.moreVerticalNav {
  position: absolute;
  right: 0; top: 3.6rem;
  margin: 0;
}
.modalContent {
  padding: $space-medium 0;
  border: none;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  border-radius: 0;
}
.menuItem {
  display: flex;
  align-items: center;
  height: 3.6rem;
  padding-left: $space-large;
  padding-right: $space-large;
}