@import "../../../styles/variables.css";
.shopRich {
  background-color: $bgd-block;
  p {
    margin-bottom: 0;
  }
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $border;
  min-height: 9.6rem;
  max-height: 9.6rem;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.logoBlock {
  display: flex;
  align-items: flex-end;
  padding-left: $space-large;
  padding-right: $space-large;
  padding-bottom: $space-large;
  margin-top: -$space-xlarge;
  .logo {
    position: relative;
    border: $border;
    .logoInner {
      width: 9.5rem;
      height: 4.8rem;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }
    .iconUytin {
      position: absolute;
      bottom: -$space-large;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: $space-xhuge;
    }
  }
  .shopPoint {
    padding-left: $space-large;
  }
  .btnWishlist {
    position: relative;
    top: -$space-medium;
    margin-left: auto;
    :global(.btn-icon-small) {
      background-color: $bgd-block;
      box-shadow: $box-shadow;
      border-radius: 50%;
    }
    :global(.btn-icon-small.disable) {
      position: relative;
      pointer-events: none;
      &::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 50%;
      }
    }
    :global(.btn-icon-small.active .icon) {
      fill: $brand-primary;
    }
  }
}
.chatInfo {
  display: none;
  padding: 0 $space-large;
  .inner {
    padding: $space-large 0;
    border-bottom: $border;
  }
  .item {
    display: inline-block;
    padding-right: $space-large;
    padding-left: $space-large;
    border-left: $border;
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
  }
}
.shopStatistics {
  display: flex;
  align-items: center;
  padding-top: $space-large;
  padding-bottom: $space-large;
  border-top: $border;
  border-bottom: $border;
  strong {
    color: $text-color;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    border-left: $border;
    &:first-child {
      border-left: $border;
    }
    p {
      text-align: center;
    }
  }
  .ratingStar {
    display: flex;
    align-items: center;
    margin-bottom: $space-medium; 
    strong {
      padding-right: $space-small;
    }
  }
}


.lotusPoint {
  display: inline-block;
  padding-left: $space-medium;
  vertical-align: middle; 
}
.iconLotus {
  width: 1.8rem;
  height: 1.8rem;
}
.red {
  fill: $red;
}
.yellow {
  fill: $yellow;
}
.purple {
  fill: #ff00ff;
}