@import "../../styles/variables.css";
@import "../../styles/sendo/items/card.css";

.productAttribute {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: .4rem;
    background-color: $sky;
  }
}
.cartHoriz {
  padding: $space-large;
  background-color: $bgd-block;
}
.filterPanel {
  padding: $space-medium $space-large;
  margin-top: $space-large;
  background-color: $bgd-block;
  box-shadow: $box-shadow;
}
.tableSize {
  display: flex;
  padding: 0 $space-large $space-large;
  .ruler {
    color: $blue-light;
    fill: currentColor;
  }
  span {
    color: $dim-gray;
    font-size: $font-medium;
    line-height: $space-xlarge;
    margin-left: $space-medium;
    text-decoration: underline;
  }
}

.scrolling {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  margin-bottom: -6rem;
  transition: height .15s ease-in;
  &::-webkit-scrollbar {
    display: none;
  }
}
.fixedBottom {
  position: fixed;
  z-index: $zindex-fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  box-shadow: $box-shadow;
}
.loading {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: $zindex-lv-1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .5);
}