@import "../../styles/variables.css";

.commentInput {
  display: block;
}

.inner {
  display: flex;
  align-items: center;
  margin-bottom: $space-small;
  transition: opacity $transition-effect;
}
.posting {
  .inner {
    opacity: .5;
    pointer-events: none;
  }
}
.loading {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.message {
  margin-bottom: 0;
  font-size: $font-small;
  font-style: italic;
  color: $brand-primary;
}
.input {
  height: 3.6rem;
  width: 100%;
  padding: $space-medium 4rem $space-medium $space-xmedium;
  margin-right: $space-large;
  border: $border;
  border-radius: .3rem;
  background-color: $bgd-block;
  transition: border-color $transition-effect;
  &:focus {
    outline: none;
    border-color: $brand-primary;
  }
  :global(.icon) {
    transition: fill $transition-effect;
  }
  &:focus + .btnSend :global(.icon) {
    fill: $brand-primary;
  }
  
}
