@import "../../../styles/variables.css";

.panelOptions {
  padding-left: $space-large;
  padding-right: $space-large;
  .title {
    padding-top: $space-large;
    padding-bottom: $space-large;
    font-size: $font-medium;
    font-weight: $font-normal;
  }
  .selected {
    border: 1px solid $brand-primary;
    background-color: $brand-primary;
    color: $text-color-inverse;
  }
}
.groupOption {
  display: flex;
  flex-wrap: wrap;
  .item {
    margin-right: $space-large;
    margin-bottom: $space-medium;
  }
}
.option {
  display: block;
  border: $border;
  text-align: center;
}
.color {
  position: relative;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: $space-medium;
  &:before {
    content: "";
    position: absolute;
    left: -$space-medium;
    right: -$space-medium;
    bottom: -$space-medium;
    top: -$space-medium;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border-color $transition-effect;
  }
  &.active:before {
    border-color: $brand-primary;
  }
}
.circle {
  border-radius: 50%;
}
.rectangle {
  min-width: 4.6rem;
  padding: $space-small $space-xmedium;
  border-radius: 2px;
}
.circle, .rectangle {
  background-color: #efefef;
  &.active {
    background-color: $brand-primary;
    border-color: transparent;
    color: $text-color-inverse;
  }
}
