@import "/sendo/variables.css";
/* Text */

.priceCurrent {
  padding-right: $space-medium;
  font-size: 1.4rem;
  color: $brand-primary;
  font-weight: $font-bold;
  text-transform: uppercase;
}
.priceOld {
  font-size: $font-small;
  color: $brand-desc;
  font-style: italic;
  text-decoration: line-through;
}

/*heading of block*/
.blockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0 $space-large;
  border-bottom: $border;
  background-color: $bgd-block;
}
.blockHeaderTitle {
  font-size: $font-medium;
  margin-bottom: 0;
}
.blockHeaderArrow {
  composes: icon from global;
  color: $brand-desc;
}

/*More effect*/
.moreEffect { 
  position: absolute;
  top: -40px; left: 0; right: 0;
  width: 100%; height: 40px;
  background: rgba(255,255,255,0);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);  
}

.modalFull {
  height: 100%;
  max-width: none;
  margin: 0;
}
.modalContentFull {
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: $bgd-primary;
}
.modalScrollContainer {
  height: 100%;
  padding-top: $space-large;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modalPopover {
  margin: 0 $space-large;
}
.popoverHeader {
  display: flex;
  align-items: center;
  height: 4.8rem;
  padding: 0 $space-large;
  font-size: $font-large;
  font-weight: $font-bold;
}

.popoverFooter {
  display: flex;
  align-items: center;
  height: 4.8rem;
  padding: 0 $space-large;
  
}
.popoverButtonClose {
  margin-left: auto;
  color: #f2a01f;
  font-size: $font-large;
  font-weight: $font-bold;
}

:global(.loadingMore) {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 8rem;
}

:global .content-empty {
  margin-bottom: $space-large;
  text-align: center;
}
:global .content-empty .img {
  display: inline-block;
  width: 9.6rem; height: 9.6rem;
  margin-bottom: $space-large;
}
:global .content-empty .title {
  display: block;
  margin-bottom: $space-medium;
  font-size: $font-large;
}
:global .content-empty .message {
  display: block;
  margin-bottom: $space-large;
  font-size: $font-medium;
  color: #a2a2a2;
}

.effect {
  composes: moreEffect;
}

:global .truncate-medium-2 {
    max-height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off*/
    -webkit-box-orient: vertical;
    /* autoprefixer: on*/
    text-overflow: ellipsis;
    overflow: hidden;
}
:global .truncate-small-2 {
    max-height: 2.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off*/
    -webkit-box-orient: vertical;
    /* autoprefixer: on*/

    text-overflow: ellipsis;
    overflow: hidden;
}

:global .truncate-small-3 {
    max-height: 3.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: off*/
    -webkit-box-orient: vertical;
    /* autoprefixer: on*/

    text-overflow: ellipsis;
    overflow: hidden;
}