@import "../../../styles/variables.css";
@import "../../../styles/sendo/modal.css";

.productRatingModal {
  composes: modal-scroll-container from global;
}
.ratingReport {
  padding: $space-medium $space-large;
  background-color: $bgd-block;
  border-bottom: $border;
}
.ratingList {
  padding: $space-medium $space-large;
  background-color: $bgd-block;
  margin-bottom: $space-large;
  box-shadow: $box-shadow;
}
.btnFilterWrap {
  display: flex;
  display: none;
}
.btnFilter {
  display: flex;
  align-items: center;
  min-width: 12rem;
  height: $space-xlarge;
  padding: 0 $space-xmedium 0 $space-large;
  margin-left: auto;
  font-size: $font-small;
  color: $text-color-inverse;
  border-radius: 20px;
  background-color: $brand-desc;
  transition: background-color .2s;
  &.active {
    background-color: $brand-primary;
  }
  :global .text-small {
    line-height: 1.2;
    color: $text-color-inverse;
   }
  :global .icon-small {
    margin-left: auto;
  }
}
.loadingMoreIcon {
  composes: loadingMore from global;
}
.btnClose {  
  position: absolute;
  z-index: $zindex-lv-1;
  top: $space-large;
  right: $space-large;  
}
.iconClose {
  fill: $text-color-inverse;
}
.loadingMoreIcon {
  composes: loadingMore from global;
}
.infoPaging {
  width: 100%;
  padding-top: $space-medium;
  text-align: center;
}

.filterLoading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .4);
}