@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/seemore.css";
.textInfo {
  color: #f7941d;
  font-size: $font-medium;
}
.promotion {
  background-color: $bgd-block;
}
.deliveryInfo {
  strong {
    white-space: nowrap;
  }
  li, p {
    margin-bottom: $space-large;
  }
  li:last-child, p:last-child {
    margin-bottom: 0;
  }
}
.itemPromotion {
  display: flex;
  align-items: center;
  margin-bottom: $space-medium;
}

.shopPromotionList {
  padding-top: $space-large;
  border-top: $border;
}
.shopPromotionItem {
  &:last-child {
    margin-bottom: 0;
  }
  strong {
    color: #6da228;
  }
  strong:last-child {
    color: $brand-primary;
  }
}

.messageDeli {
  display: flex;
  align-items: center;
  :global .icon {
    margin-right: $space-medium;
  }
}
.selfTransport {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.2rem;
  padding: 0 $space-medium;
  color: #4990e2;
  background-color: #efefef;
  border-radius: 3px;
}