@import "../../../styles/variables.css";
@import "../../../styles/sendo/items/card.css";

.productCateRecommend {
  padding-left: $space-large;
  padding-right: $space-large;
  :global .heading-large {
    padding: $space-large 0;
  }
}
.loadingMoreIcon {
  composes: loadingMore from global;
}
.cateWrap {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  margin-left: -$space-small;
  margin-right: -$space-small;
  .linkBoxWrap {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: $space-small;
    padding-right: $space-small;
  }
}