@import "../../../styles/variables.css";

.products {
  display: flex;
  margin-left: -$space-small;
  margin-right: -$space-small;
}

.item {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: calc($space-small/2);
  padding-right: calc($space-small/2);
  img {
    max-width: 100%;
  }
}
.box {
  display: block;
  height: 0;
  padding-bottom: 100%;
  border: $border;
}